/*
*
*  Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  See the NOTICE file distributed with
*  this work for additional information regarding copyright ownership.
*  The ASF licenses this file to You under the Apache License, Version 2.0
*  (the "License"); you may not use this file except in compliance with
*  the License.  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*
*/

@namespace "library://ns.apache.org/flexjs/basic";
@namespace svg "library://ns.apache.org/flexjs/svg";

/* Global style declaration */
*
{
	font-family: "Arial";
	font-size: 12px;
	border-width: 1px;
}

.flexjs *, . flexjs *:before, . flexjs *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.unselectable
{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

Alert
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.AlertModel");
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}


Application
{
	padding: 0px;
	margin: 0px;
}

Button
{
	background-color: #f8f8f8;
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 4px;
	margin: 0px;
}

Button:hover
{
	background-color: #e8e8e8;
	border: 1px solid #808080;
	padding: 4px;
}

Button:active
{
	background-color: #d8d8d8;
	border: 1px solid #808080;
	padding: 4px;
}

ButtonBar
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ButtonBarView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.ButtonBarLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.TextItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.ButtonBarButtonItemRenderer");
	
	border-style: none;
}

ButtonBarButtonItemRenderer
{
	width: 80;
	height: 30;
}

ComboBox
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ComboBoxModel");
	IBeadView: ClassReference("org.apache.flex.html.beads.ComboBoxView");
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ComboBoxController");
	IPopUp: ClassReference("org.apache.flex.html.supportClasses.ComboBoxList");
}

ComboBoxList
{
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.TextItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	border-style: solid;
	border-radius: 4px;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
}

.ComboBoxButton {
	padding: 0px;
	margin: 0px;
}

Container
{
	IBeadView: ClassReference("org.apache.flex.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.BasicLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.ContainerContentArea");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
}

ControlBar
{
	IBeadView: ClassReference("org.apache.flex.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.FlexibleFirstChildHorizontalLayout");
	
	background-color: #CECECE;
	border-style: none;
	/*border-style: solid;
	border-color: #000000;
	border-width: 1px;*/
}

DataContainer
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.DataProviderModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.DataContainerView");			
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	border-style: solid;
	border-color: #222222;
}

/* ASJS */
DataGrid
{
	IDataGridPresentationModel: ClassReference("org.apache.flex.html.beads.models.DataGridPresentationModel");
	IBeadView: ClassReference("org.apache.flex.html.beads.DataGridView");
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.DataGridModel");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.DataGridLayout");
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #222222;
	border-width: 1px;
}

DataGridButtonBar
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ButtonBarView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.ButtonBarLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.TextItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.DataGridButtonBarButtonItemRenderer");
	
	border-style: none;
}

DataGridColumnList {
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.DataGridModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ListView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayList");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	border-style: none;
	background-color: #FFFFFF;
}

.DataGridListArea {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #333333;
}

/* DateChooser */

DateChooser {
	IBeadView:   ClassReference("org.apache.flex.html.beads.DateChooserView");
	IBeadModel:  ClassReference("org.apache.flex.html.beads.models.DateChooserModel");
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.DateChooserMouseController");
	width:  280px;
	height: 230px;
}

DateChooserList {
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.DateItemRenderer");		
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
}

DateChooserHeader {	
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.DayNameItemRenderer");		
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #FFFFFF;
}

DateItemRenderer
{
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ItemRendererMouseController");
	text-align: center;
}

DayNameItemRenderer
{
	text-align: center;
}

/* DateField */

DateField {
	IBeadView:   ClassReference("org.apache.flex.html.beads.DateFieldView");
	IBeadModel:  ClassReference("org.apache.flex.html.beads.models.DateChooserModel");
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.DateFieldMouseController");
	IFormatBead: ClassReference("org.apache.flex.html.accessories.DateFormatMMDDYYYYBead");
}

/* RangeStepper */

RangeStepper {
	IBeadView: ClassReference("org.apache.flex.html.beads.RangeStepperView");
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.RangeModelExtended");
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.RangeStepperMouseController");
}

Form {
	
}

Group {
	IBeadView: ClassReference("org.apache.flex.html.beads.GroupView");
}

HContainer
{
	IBeadView: ClassReference("org.apache.flex.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.HorizontalLayout");
	white-space: nowrap;
}

Image
{
	vertical-align: top;
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ImageModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ImageView");
}

BinaryImage
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.BinaryImageModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ImageView");
	IBinaryImageLoader:  ClassReference("org.apache.flex.html.beads.BinaryImageLoader");
}

ImageAndTextButton
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ImageAndTextModel");
}

ImageButton
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ImageModel");
	border-style: none;
}

ImageButton:hover
{
	border-style: none;
}

ImageButton:active
{
	border-style: none;
}

VContainer
{
	IBeadView: ClassReference("org.apache.flex.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
}

List
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ListView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	border-style: solid;
	border-color: #222222;
	background-color: #FFFFFF;
}

Accordion
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.AccordionView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.OneFlexibleChildVerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.AccordionItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.ClippingViewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	IAccordionCollapseBead: ClassReference("org.apache.flex.html.beads.AccordionCollapseBead");
	border-style: solid;
	border-color: #222222;
}

Tree
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArrayListSelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ListView");			
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.TreeSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForHierarchicalData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.TreeItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	border-style: solid;
	border-color: #222222;
}

NumericStepper
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.RangeModel");
}

Panel
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.PanelModel");
	IBeadView: ClassReference("org.apache.flex.html.beads.PanelView");
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	padding: 2px;
}

PanelWithControlBar
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.PanelModel");
	IBeadView: ClassReference("org.apache.flex.html.beads.PanelWithControlBarView");
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	padding: 2px;
}

SimpleList
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ListView");
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
	IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.TextItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
}

Slider
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.RangeModel");
	iBeadView:  ClassReference("org.apache.flex.html.beads.SliderView");
	iBeadController: ClassReference("org.apache.flex.html.beads.controllers.SliderMouseController");
}

Spinner
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.RangeModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.SpinnerView");
}


StringItemRenderer
{
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ItemRendererMouseController");
	height: 16;
}

AccordionItemRenderer
{
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.AccordionItemRendererMouseController");
	IBeadView: ClassReference("org.apache.flex.html.beads.AccordionItemRendererView");
}

TreeItemRenderer
{
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ItemRendererMouseController");
	height: 16;
}

TextInput
{
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 4px;
	margin: 0px;
}

TextArea
{
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 4px;
	resize: none;
}

TitleBar
{
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.TitleBarModel");
	IBeadView: ClassReference("org.apache.flex.html.beads.TitleBarView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.FlexibleFirstChildHorizontalLayout");
	iMeasurementBead: ClassReference("org.apache.flex.html.beads.TitleBarMeasurementBead");
	background-color: #E2E2E2;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

.toggleTextButton
{
	background-color: #f8f8f8;
	border: 1px solid #808080;
	padding: 4px;
}

.toggleTextButton:hover
{
	background-color: #e8e8e8;
	border: 1px solid #808080;
	padding: 4px;
}

.toggleTextButton_Selected
{
	background-color: #d8d8d8;
	border: 1px solid #808080;
	padding: 4px;
}

.toggleTextButton_Selected:hover
{
	background-color: #e8e8e8;
	border: 1px solid #808080;
	padding: 4px;
}

ToolTip
{
	background-color: #FFFFCC;
}

View
{
	IBeadView: ClassReference("org.apache.flex.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.BasicLayout");
	IContentView: ClassReference("org.apache.flex.html.supportClasses.ContainerContentArea");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
}

WebBrowser
{
	IBeadView: ClassReference("org.apache.flex.html.beads.WebBrowserView");
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.WebBrowserModel");
}


/* Global Style Declaration */
global
{
	IStatesImpl: ClassReference("org.apache.flex.core.SimpleStatesImpl");
	IEffectTimer: ClassReference("org.apache.flex.utils.EffectTimer");
	effectTimerInterval: 10;
}

@media -flex-flash
{
	
	Alert
	{
		IBeadView:  ClassReference("org.apache.flex.html.beads.AlertView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.AlertController");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
	}
	
	Border
	{
		border-color: inherit;
		border-style: inherit;
		border-radius: inherit;
		border-width: inherit;
		border: inherit;
	}
	
	Button
	{
		IBeadView: ClassReference("org.apache.flex.html.beads.CSSButtonView");
	}
	
	CheckBox
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ToggleButtonModel");
		IBeadView:  ClassReference("org.apache.flex.html.beads.CheckBoxView");			
	}
	
	CloseButton
	{
		IBeadView: ClassReference("org.apache.flex.html.beads.CloseButtonView");
	}
	
	Container
	{
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
	}
	
	ControlBar
	{
		IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.FlexibleFirstChildHorizontalLayout");
		iMeasurementBead: ClassReference("org.apache.flex.html.beads.ControlBarMeasurementBead");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");    
	}
	
	ComboBoxList {
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
	}
	
	DateChooserList {
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead"); 
	}
	
	DateChooserHeader {
		padding-top: 0px;
		padding-bottom: 5px;
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");   
	}
	
	DateItemRenderer {
		margin: 0px;
		padding: 5px;
	}
	
	DropDownList
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.DropDownListView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.DropDownListController");
		IPopUp: ClassReference("org.apache.flex.html.supportClasses.DropDownListList");
	}
	
	DropDownListList
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
		IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.TextItemRendererFactoryForArrayData");
		IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
		IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
		border-style: solid;
		border-radius: 4px;
		border-color: #000000;
		border-width: 1px;
		background-color: #FFFFFF;
	}
	
	Group
	{
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
	}
	
	HRule
	{
		IBeadView:  ClassReference("org.apache.flex.html.beads.HRuleView");
	}
	
	ImageButton
	{
		IBeadView: ClassReference("org.apache.flex.html.beads.ImageButtonView");
	}
	
	ImageAndTextButton
	{
		IBeadView: ClassReference("org.apache.flex.html.beads.CSSImageAndTextButtonView");
	}
	
	Label
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.TextFieldView");
		iMeasurementBead: ClassReference("org.apache.flex.html.beads.TextFieldLabelMeasurementBead");
	}
	
	List
	{
		iBorderBead: ClassReference('org.apache.flex.html.beads.SingleLineBorderBead');
		iBorderModel: ClassReference('org.apache.flex.html.beads.models.SingleLineBorderModel');
	}
	
	MultilineLabel
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.MultilineTextFieldView");
	}
	
	NumericStepper
	{
		IBeadView: ClassReference("org.apache.flex.html.beads.NumericStepperView");
		
		padding: 0px;
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
		background-color: #FFFFFF;
		iBorderBead: ClassReference('org.apache.flex.html.beads.SingleLineBorderBead');
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
	}
	
	Panel
	{
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");    
	}
	
	PanelWithControlBar
	{
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
	}
	
	RadioButton
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ValueToggleButtonModel");
		IBeadView:  ClassReference("org.apache.flex.html.beads.RadioButtonView");			
	}
	
	VScrollBar
	{
		IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VScrollBarLayout");
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ScrollBarModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.VScrollBarView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.VScrollBarMouseController");
	}
	
	HScrollBar
	{
		IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.HScrollBarLayout");
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ScrollBarModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.HScrollBarView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.HScrollBarMouseController");
	}
	
	SimpleAlert
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.AlertModel");
		IBeadView:  ClassReference("org.apache.flex.html.beads.SimpleAlertView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.AlertController");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		
		background-color: #FFFFFF;
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
	}
	
	Slider
	{
		iThumbView: ClassReference("org.apache.flex.html.beads.SliderThumbView");
		iTrackView: ClassReference("org.apache.flex.html.beads.SliderTrackView");
	}
	
	Spinner
	{
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.SpinnerMouseController");
	}
	
	TextArea
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.TextAreaView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.EditableTextKeyboardController");
		iBorderBead: ClassReference('org.apache.flex.html.beads.SingleLineBorderBead');
		iBorderModel: ClassReference('org.apache.flex.html.beads.models.SingleLineBorderModel');
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
		background-color: #FFFFFF;
	}
	
	TextButton
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.CSSTextButtonView");
		iMeasurementBead: ClassReference("org.apache.flex.html.beads.TextButtonMeasurementBead");
	}
	
	/*
	TextFieldItemRenderer
	{
	IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ItemRendererMouseController");
	height: 16;
	}
	*/
	
	TextInput
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.TextInputWithBorderView");
		IBeadController: ClassReference("org.apache.flex.html.beads.controllers.EditableTextKeyboardController");
		iBorderBead: ClassReference('org.apache.flex.html.beads.SingleLineBorderBead');
		iBackgroundBead: ClassReference('org.apache.flex.html.beads.SolidBackgroundBead');
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
		background-color: #FFFFFF;
	}
	
	TitleBar
	{
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
	}
	
	ToggleTextButton
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.ToggleButtonModel");
		IBeadView:  ClassReference("org.apache.flex.html.beads.CSSTextToggleButtonView");
	}
	
	View
	{
		iBackgroundBead: ClassReference("org.apache.flex.html.beads.SolidBackgroundBead");
		iBorderBead: ClassReference("org.apache.flex.html.beads.SingleLineBorderBead");
	}
	
	VRule
	{
		IBeadView:  ClassReference("org.apache.flex.html.beads.VRuleView");
	}
	
	/* SVG */
	
	svg|TextButton
	{
		IBeadModel: ClassReference("org.apache.flex.html.beads.models.TextModel");
		IBeadView: ClassReference("org.apache.flex.html.beads.CSSTextButtonView");
		iMeasurementBead: ClassReference("org.apache.flex.html.beads.TextButtonMeasurementBead");
	}
	
}
