/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.royale *, .royale *:before, .royale *:after {
  box-sizing: border-box;
}

j|Application {
  background: white;
  font-family: "Lato", sans-serif;
  color: #808080;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 15px;
}

span {
  font-size: 14px;
}

div {
  font-size: 14px;
}

.container {
  background: #ebebeb;
  border-radius: 10px;
  padding: 20px;
}

::-moz-focus-inner {
  border: 0;
}

.jewel.alert {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 420px;
  min-height: 240px;
  border: 0px solid;
  border-radius: 3px;
  box-shadow: 0px 20px 65px 0px rgba(0, 0, 0, 0.8);
  background-color: white;
}
.jewel.alert .jewel.titlebar {
  padding: 20px 20px 0px 20px;
  height: 50px;
  color: #5a5a5a;
}
.jewel.alert .jewel.titlebar .jewel.label {
  font-size: 1.9em;
  font-weight: bold;
}
.jewel.alert .Group {
  position: absolute;
  padding: 20px;
  top: 50px;
  bottom: 80px;
  width: 100%;
  overflow-y: auto;
}
.jewel.alert .Group .jewel.label {
  white-space: normal;
  color: #808080;
  font-size: 1.1em;
  font-weight: normal;
}
.jewel.alert .jewel.controlbar {
  border-top: 1px solid #b3b3b3;
  background: linear-gradient(#e6e6e6, #cccccc);
  box-shadow: inset 0 1px 0 white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}
.jewel.alert .jewel.controlbar > *:first-child {
  margin-left: 0px;
}
.jewel.alert .jewel.controlbar > * {
  flex: 0 0 100px;
  margin-left: 6px;
}
.jewel.alert + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

j|Alert {
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.AlertModel");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.AlertController");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.AlertView");
}

@media -royale-swf {
  j|Alert {
    IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
    IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
  }
}
.jewel.button {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px;
  min-width: 34px;
  min-height: 34px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(#e6e6e6, #cccccc);
  box-shadow: inset 0 1px 0 white;
  border-radius: 3px;
}
.jewel.button:hover, .jewel.button:hover:focus {
  border: 1px solid #a6a6a6;
  background: linear-gradient(#d9d9d9, silver);
}
.jewel.button:active, .jewel.button:active:focus {
  border: 1px solid #8d8d8d;
  background: linear-gradient(silver, #a6a6a6);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button:focus {
  outline: none;
  border: 1px solid #b3b3b3;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jewel.button[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
  box-shadow: none;
}

.jewel.button.primary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px;
  min-width: 34px;
  min-height: 34px;
  border: 1px solid #1a6b65;
  background: linear-gradient(#2ebcb2, #24948c);
  box-shadow: inset 0 1px 0 #5fd8cf;
  border-radius: 3px;
}
.jewel.button.primary:hover, .jewel.button.primary:hover:focus {
  border: 1px solid #155651;
  background: linear-gradient(#29A89F, #1f7f78);
}
.jewel.button.primary:active, .jewel.button.primary:active:focus {
  border: 1px solid #0b2d2b;
  background: linear-gradient(#1f7f78, #155651);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.primary:focus {
  outline: none;
  border: 1px solid #1a6b65;
  box-shadow: inset 0px 0px 0px 1px rgba(218, 246, 244, 0.5), inset 0 1px 0 rgba(239, 251, 250, 0.6);
}
.jewel.button.primary[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
  box-shadow: none;
}

.jewel.checkbox {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 22px;
}
.jewel.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(white, #f3f3f3);
  border-radius: 3px;
}
.jewel.checkbox input:checked, .jewel.checkbox input:checked:active {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-763, -290)'><g transform='translate(760, 285)'><polygon fill='%2329A89F' points='3 13 9 18 19 7 16 5 9 13 6 10'></polygon></g></g></svg>"), #d9d9d9;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
}
.jewel.checkbox input:checked:checked:focus, .jewel.checkbox input:checked:checked:active:focus, .jewel.checkbox input:checked:active:checked:focus, .jewel.checkbox input:checked:active:checked:active:focus {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-763, -290)'><g transform='translate(760, 285)'><polygon fill='%2329A89F' points='3 13 9 18 19 7 16 5 9 13 6 10'></polygon></g></g></svg>"), #74ddd5;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
}
.jewel.checkbox input:focus {
  outline: none;
  border: 1px solid #1a6b65;
}
.jewel.checkbox input[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
}
.jewel.checkbox input[disabled] + span {
  cursor: unset;
  color: silver;
}
.jewel.checkbox input[disabled]:checked {
  border: 1px solid #d9d9d9;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-763, -290)'><g transform='translate(760, 285)'><polygon fill='%23cccccc' points='3 13 9 18 19 7 16 5 9 13 6 10'></polygon></g></g></svg>"), #f3f3f3;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jewel.checkbox span {
  cursor: pointer;
  position: relative;
  vertical-align: top;
  margin: 0;
  padding-left: 6px;
  font-size: 16px;
  line-height: 22px;
}

.jewel.label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.jewel.radiobutton {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 22px;
}
.jewel.radiobutton input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(white, #f3f3f3);
  border-radius: 50%;
}
.jewel.radiobutton input:checked, .jewel.radiobutton input:checked:active {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-616, -350)'><g transform='translate(611, 345)'><circle fill='%2329A89F' cx='11' cy='11' r='6'></circle></g></g></svg>"), #d9d9d9;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-attachment: fixed;
}
.jewel.radiobutton input:checked:checked:focus, .jewel.radiobutton input:checked:checked:active:focus, .jewel.radiobutton input:checked:active:checked:focus, .jewel.radiobutton input:checked:active:checked:active:focus {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-616, -350)'><g transform='translate(611, 345)'><circle fill='%2329A89F' cx='11' cy='11' r='6'></circle></g></g></svg>"), #74ddd5;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-attachment: fixed;
}
.jewel.radiobutton input:focus {
  outline: none;
  border: 1px solid #1a6b65;
}
.jewel.radiobutton input[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
}
.jewel.radiobutton input[disabled] + span {
  cursor: unset;
  color: silver;
}
.jewel.radiobutton input[disabled]:checked {
  border: 1px solid #d9d9d9;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-616, -350)'><g transform='translate(611, 345)'><circle fill='%23cccccc' cx='11' cy='11' r='6'></circle></g></g></svg>"), #f3f3f3;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jewel.radiobutton span {
  cursor: pointer;
  position: relative;
  vertical-align: top;
  margin: 0;
  padding-left: 6px;
  font-size: 16px;
  line-height: 22px;
}

.jewel.slider input {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.jewel.slider input:hover {
  opacity: 1;
}
.jewel.slider input:focus {
  outline: none;
}
.jewel.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #29A89F;
  cursor: pointer;
}
.jewel.slider input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #29A89F;
  cursor: pointer;
}

.jewel.textbutton {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(#e6e6e6, #cccccc);
  box-shadow: inset 0 1px 0 white;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
  text-decoration: none;
}
.jewel.textbutton:hover, .jewel.textbutton:hover:focus {
  border: 1px solid #a6a6a6;
  background: linear-gradient(#d9d9d9, silver);
}
.jewel.textbutton:active, .jewel.textbutton:active:focus {
  border: 1px solid #8d8d8d;
  background: linear-gradient(silver, #a6a6a6);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton:focus {
  outline: none;
  border: 1px solid #b3b3b3;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jewel.textbutton[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
  box-shadow: none;
  color: silver;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textbutton.primary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #1a6b65;
  background: linear-gradient(#2ebcb2, #24948c);
  box-shadow: inset 0 1px 0 #5fd8cf;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(11, 45, 43, 0.7);
}
.jewel.textbutton.primary:hover, .jewel.textbutton.primary:hover:focus {
  border: 1px solid #155651;
  background: linear-gradient(#29A89F, #1f7f78);
}
.jewel.textbutton.primary:active, .jewel.textbutton.primary:active:focus {
  border: 1px solid #0b2d2b;
  background: linear-gradient(#1f7f78, #155651);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton.primary:focus {
  outline: none;
  border: 1px solid #1a6b65;
  box-shadow: inset 0px 0px 0px 1px rgba(218, 246, 244, 0.5), inset 0 1px 0 rgba(239, 251, 250, 0.6);
}
.jewel.textbutton.primary[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
  box-shadow: none;
  color: silver;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textfield {
  position: relative;
  display: inline-flex;
}
.jewel.textfield input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.67em 1em;
  max-width: 100%;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.4em;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #808080;
  background: linear-gradient(white, #f3f3f3);
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition-timing-function: easein;
}
.jewel.textfield input:focus {
  border: 1px solid #1a6b65;
}
.jewel.textfield input::placeholder {
  color: #a6a6a6;
}
.jewel.textfield input[disabled] {
  cursor: unset;
  border: 1px solid #d9d9d9;
  background: #f3f3f3;
  box-shadow: none;
  color: silver;
}
.jewel.textfield input[disabled]::placeholder {
  color: silver;
}

/*# sourceMappingURL=defaults.css.map */
