////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////

.jewel.alert
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin: 0
    padding: 20px
    min-width: 350px
    min-height: 200px
    max-width: 100%
    max-height: 100%

    border: 1px solid rgba(0, 0, 0, .3)
    // box-shadow: 0px 6px 60px -10px rgba(112,112,112,0.7)
    // background-color: #FFFFFF
    // border: 0px solid
    // border-radius: 10px

    .jewel.titlebar
        padding: 0px
        border: 1px solid rgba(0, 0, 0, .3)
        
        .jewel.label
            border: 1px solid rgba(0, 0, 0, .3)
            font:
                size: 1.9em
                weight: bold

        .closebutton
            //vertical-align: top
            min-width: 24px
            min-height: 24px
            padding: 4px
    
    .Group
        margin: 10px 0
        padding: 0px
        border: 1px solid rgba(0, 0, 0, .3)
        width: 100%
        height: 100%
        overflow: auto

        .jewel.label
            border: 1px solid rgba(0, 0, 0, .3)
            font:
                size: 1.1em

    .jewel.controlbar
        padding: 0px
        border: 1px solid rgba(0, 0, 0, .3)
        // display: flex
        // flex-direction: row-reverse
        // flex-wrap: wrap

    + .backdrop
        background-color: rgba(0, 0, 0, .5)
        //filter: blur(5px)

j|Alert
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.AlertModel")
    IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.AlertController")
    //IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalFlexLayout")
    IBeadView:  ClassReference("org.apache.royale.jewel.beads.views.AlertView")

@media -royale-swf	
    j|Alert
        IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead")
        IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead")
