/**
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
*, :after, :before {
  box-sizing: border-box;
}

::-moz-focus-inner, ::-moz-focus-outer {
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
}

j|View {
  IBeadView: ClassReference("org.apache.royale.core.beads.GroupView");
}

j|Group {
  IBeadView: ClassReference("org.apache.royale.core.beads.GroupView");
}

j|HGroup {
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.HorizontalLayout");
}

j|VGroup {
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.VerticalLayout");
}

j|Container {
  IBeadView: ClassReference("org.apache.royale.core.beads.views.ContainerView");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.BasicLayout");
  IViewport: ClassReference("org.apache.royale.core.supportClasses.Viewport");
  IViewportModel: ClassReference("org.apache.royale.core.beads.models.ViewportModel");
}

@media -royale-swf {
  j|Container {
    IContentView: ClassReference("org.apache.royale.core.supportClasses.ContainerContentArea");
  }
}
.jewel.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  min-height: 200px;
}
.jewel.alert .jewel.titlebar {
  height: 50px;
}
.jewel.alert .content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.jewel.alert .content .jewel.label {
  white-space: normal;
}
.jewel.alert .jewel.controlbar {
  position: absolute;
  bottom: 0;
  height: 50px;
}

j|Alert {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.AlertModel");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.AlertController");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.AlertView");
}

.jewel.button {
  margin: 0;
  padding: 0.72em 1.12em;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal !important;
  text-align: center;
  text-decoration: none;
}
.jewel.button:focus {
  outline: none;
}
.jewel.button[disabled] {
  cursor: unset;
}

.jewel.card {
  flex-direction: column;
  min-width: 320px;
  min-height: 180px;
}

j|Card {
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.VerticalLayout");
}

@media -royale-swf {
  j|CheckBox {
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.CheckBoxView");
  }
}
.jewel.controlbar {
  background-color: transparent;
  padding: 0px;
  min-height: 34px;
}

j|ControlBar {
  IBeadView: ClassReference("org.apache.royale.core.beads.GroupView");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.HorizontalLayout");
}

@media -royale-swf {
  j|ControlBar {
    IMeasurementBead: ClassReference("org.apache.royale.html.beads.ControlBarMeasurementBead");
  }
}
@media -royale-swf {
  j|DropDownList {
    IBeadModel: ClassReference("org.apache.royale.core.beads.models.ArraySelectionModel");
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.DropDownListView");
    IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.DropDownListController");
    IPopUp: ClassReference("org.apache.royale.jewel.supportClasses.DropDownListList");
  }

  j|DropDownListList {
    IBeadModel: ClassReference("org.apache.royale.core.beads.models.ArraySelectionModel");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
  }
}
.jewel.item {
  display: flex;
  cursor: pointer;
  min-height: 34px;
}

j|ListItemRenderer {
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.ItemRendererMouseController");
}

.jewel.label {
  white-space: nowrap;
}

.jewel.label.multiline {
  white-space: normal;
  width: 100%;
}

j|Label {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.TextModel");
}

/* Absolute */
.layout.absolute {
  position: relative;
}
.layout.absolute > * {
  position: absolute;
}

.layout {
  display: flex;
}

/* Horizontal */
.layout.horizontal {
  flex-flow: row nowrap;
  align-items: flex-start;
}

/* Vertical */
.layout.vertical {
  flex-flow: column nowrap;
  align-items: flex-start;
}

.layout.horizontal.space {
  justify-content: space-between;
}

/* Grid */
.layout.grid {
  flex-wrap: wrap;
}
.layout.grid > * {
  flex: 1;
}
.layout.grid.gap-1dp {
  margin: -1em 0 1em -1em;
}
.layout.grid.gap-1dp > * {
  padding: 1em 0 0 1em;
}
.layout.grid.gap-2dp {
  margin: -2em 0 2em -2em;
}
.layout.grid.gap-2dp > * {
  padding: 2em 0 0 2em;
}
.layout.grid.gap-3dp {
  margin: -3em 0 3em -3em;
}
.layout.grid.gap-3dp > * {
  padding: 3em 0 0 3em;
}
.layout.grid.gap-4dp {
  margin: -4em 0 4em -4em;
}
.layout.grid.gap-4dp > * {
  padding: 4em 0 0 4em;
}
.layout.grid.gap-5dp {
  margin: -5em 0 5em -5em;
}
.layout.grid.gap-5dp > * {
  padding: 5em 0 0 5em;
}
.layout.grid.gap-6dp {
  margin: -6em 0 6em -6em;
}
.layout.grid.gap-6dp > * {
  padding: 6em 0 0 6em;
}
.layout.grid.gap-7dp {
  margin: -7em 0 7em -7em;
}
.layout.grid.gap-7dp > * {
  padding: 7em 0 0 7em;
}
.layout.grid.gap-8dp {
  margin: -8em 0 8em -8em;
}
.layout.grid.gap-8dp > * {
  padding: 8em 0 0 8em;
}
.layout.grid.gap-9dp {
  margin: -9em 0 9em -9em;
}
.layout.grid.gap-9dp > * {
  padding: 9em 0 0 9em;
}
.layout.grid.gap-10dp {
  margin: -10em 0 10em -10em;
}
.layout.grid.gap-10dp > * {
  padding: 10em 0 0 10em;
}
.layout.grid.gap-11dp {
  margin: -11em 0 11em -11em;
}
.layout.grid.gap-11dp > * {
  padding: 11em 0 0 11em;
}
.layout.grid.gap-12dp {
  margin: -12em 0 12em -12em;
}
.layout.grid.gap-12dp > * {
  padding: 12em 0 0 12em;
}
.layout.grid.gap-13dp {
  margin: -13em 0 13em -13em;
}
.layout.grid.gap-13dp > * {
  padding: 13em 0 0 13em;
}
.layout.grid.gap-14dp {
  margin: -14em 0 14em -14em;
}
.layout.grid.gap-14dp > * {
  padding: 14em 0 0 14em;
}
.layout.grid.gap-15dp {
  margin: -15em 0 15em -15em;
}
.layout.grid.gap-15dp > * {
  padding: 15em 0 0 15em;
}
.layout.grid.gap-16dp {
  margin: -16em 0 16em -16em;
}
.layout.grid.gap-16dp > * {
  padding: 16em 0 0 16em;
}
.layout.grid.gap-17dp {
  margin: -17em 0 17em -17em;
}
.layout.grid.gap-17dp > * {
  padding: 17em 0 0 17em;
}
.layout.grid.gap-18dp {
  margin: -18em 0 18em -18em;
}
.layout.grid.gap-18dp > * {
  padding: 18em 0 0 18em;
}
.layout.grid.gap-19dp {
  margin: -19em 0 19em -19em;
}
.layout.grid.gap-19dp > * {
  padding: 19em 0 0 19em;
}
.layout.grid.gap-20dp {
  margin: -20em 0 20em -20em;
}
.layout.grid.gap-20dp > * {
  padding: 20em 0 0 20em;
}

.jewel.list {
  align-items: stretch;
  align-content: flex-start;
}

j|List {
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.ListView");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.ListSingleSelectionMouseController");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.VerticalLayout");
  IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
  IItemRenderer: ClassReference("org.apache.royale.jewel.itemRenderers.ListItemRenderer");
  IViewport: ClassReference("org.apache.royale.jewel.supportClasses.ScrollingViewport");
  IViewportModel: ClassReference("org.apache.royale.core.beads.models.ViewportModel");
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.SingleSelectionArrayListModel");
  IDataProviderItemRendererMapper: ClassReference("org.apache.royale.jewel.beads.DataItemRendererFactoryForCollectionView");
}

@media -royale-swf {
  j|List {
    IContentView: ClassReference("org.apache.royale.core.supportClasses.DataGroup");
  }
}
@media -royale-swf {
  j|RadioButton {
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.RadioButtonView");
  }
}
.jewel.slider input::-ms-tooltip {
  display: none;
}

j|Slider {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.SliderRangeModel");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.SliderView");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.SliderMouseController");
}

@media -royale-swf {
  j|Slider {
    iThumbView: ClassReference("org.apache.royale.jewel.beads.views.SliderThumbView");
    iTrackView: ClassReference("org.apache.royale.jewel.beads.views.SliderTrackView");
  }
}
j|TextInput {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.TextModel");
}

.jewel.titlebar {
  background-color: transparent;
  padding: 0px;
  min-height: 34px;
}

j|TitleBar {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.TitleBarModel");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.HorizontalLayout");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.TitleBarView");
}

/*# sourceMappingURL=defaults.css.map */
