/**
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
.layout.horizontal {
  white-space: nowrap;
  display: block;
}
.layout.horizontal > * {
  display: inline-block;
}

.layout.vertical {
  vertical-align: top;
}
.layout.vertical > * {
  display: block !important;
}

.layout.horizontal.space {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.jewel.alert {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 350px;
  min-height: 200px;
  border: 0px solid;
  border-radius: 3px;
  box-shadow: 0px 6px 60px -10px rgba(112, 112, 112, 0.7);
  background-color: #FFFFFF;
}
.jewel.alert .jewel.titlebar {
  padding: 14px 14px 0px 14px;
  height: 50px;
  color: #000000;
}
.jewel.alert .jewel.titlebar .jewel.label {
  font-size: 1.9em;
  font-weight: bold;
}
.jewel.alert .Group {
  position: absolute;
  padding: 14px;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.jewel.alert .Group .jewel.label {
  white-space: normal;
  color: #000000;
  font-size: 1.1em;
  font-weight: normal;
}
.jewel.alert .jewel.controlbar {
  padding: 0px 14px 14px 14px;
  position: absolute;
  bottom: 0;
  height: 50px;
}
.jewel.alert + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

j|Alert {
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.AlertModel");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.AlertController");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.AlertView");
}

@media -royale-swf {
  j|Alert {
    IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
    IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
  }
}
@media -royale-swf {
  j|CheckBox {
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ToggleButtonModel");
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.CheckBoxView");
  }
}
.jewel.controlbar {
  background-color: transparent;
  padding: 0px;
  min-height: 34px;
}

j|ControlBar {
  IBeadView: ClassReference("org.apache.royale.html.beads.GroupView");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.HorizontalLayout");
}

@media -royale-swf {
  j|ControlBar {
    IMeasurementBead: ClassReference("org.apache.royale.html.beads.ControlBarMeasurementBead");
    IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
    IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
  }
}
@media -royale-swf {
  j|DropDownList {
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.DropDownListView");
    IBeadController: ClassReference("org.apache.royale.html.beads.controllers.DropDownListController");
    IPopUp: ClassReference("org.apache.royale.html.supportClasses.DropDownListList");
  }
}
j|ListItemRenderer {
  IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
}

.jewel.label {
  white-space: nowrap;
}

j|Label {
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.TextModel");
}

j|List {
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.ListView");
  IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
  IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalLayout");
  IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
  IItemRenderer: ClassReference("org.apache.royale.jewel.itemRenderers.ListItemRenderer");
  IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
  IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.SingleSelectionCollectionViewModel");
  IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForCollectionView");
}

@media -royale-swf {
  j|List {
    iBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
    iBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
    iBorderModel: ClassReference("org.apache.royale.html.beads.models.SingleLineBorderModel");
    IContentView: ClassReference("org.apache.royale.html.supportClasses.DataGroup");
  }
}
@media -royale-swf {
  j|RadioButton {
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ValueToggleButtonModel");
    IBeadView: ClassReference("org.apache.royale.jewel.beads.views.RadioButtonView");
  }
}
j|Slider {
  IBeadModel: ClassReference("org.apache.royale.jewel.beads.models.SliderRangeModel");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.SliderView");
  IBeadController: ClassReference("org.apache.royale.jewel.beads.controllers.SliderMouseController");
}

@media -royale-swf {
  j|Slider {
    iThumbView: ClassReference("org.apache.royale.jewel.beads.views.SliderThumbView");
    iTrackView: ClassReference("org.apache.royale.jewel.beads.views.SliderTrackView");
  }
}
j|TextField {
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.TextModel");
}

.jewel.titlebar {
  background-color: transparent;
  padding: 0px;
  min-height: 34px;
}

j|TitleBar {
  IBeadModel: ClassReference("org.apache.royale.html.beads.models.TitleBarModel");
  IBeadLayout: ClassReference("org.apache.royale.jewel.beads.layouts.HorizontalLayout");
  IBeadView: ClassReference("org.apache.royale.jewel.beads.views.TitleBarView");
}

@media -royale-swf {
  j|TitleBar {
    IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
    IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
  }
}

/*# sourceMappingURL=defaults.css.map */
