/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.jewel.badge.emphasized {
  background: #EC1C24;
  color: #FFFFFF;
}

.jewel.button.emphasized {
  background: #EC1C24;
  border: 1px solid #ce1118;
  box-shadow: none;
  border-radius: 3px;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.button.emphasized:hover, .jewel.button.emphasized:hover:focus {
  background: #dc121a;
  border: 1px solid #ce1118;
}
.jewel.button.emphasized:active, .jewel.button.emphasized:active:focus {
  background: #ad0e15;
  border: 1px solid #ce1118;
  box-shadow: none;
}
.jewel.button.emphasized:focus {
  background: #ee343b;
  border: 1px solid #ce1118;
  box-shadow: none;
}
.jewel.button.emphasized[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}

.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.hovered {
  background: #f1545a;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selected, .jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selectable:active {
  background: #ef3d44;
}

.jewel.item.emphasized.hovered {
  background: #EC1C24;
}
.jewel.item.emphasized.selected, .jewel.item.emphasized.selectable:active {
  background: #dc121a;
}

.jewel.snackbar.emphasized .jewel.snackbar-content {
  background: #EC1C24;
  border: 0px solid;
  box-shadow: none;
}
.jewel.snackbar.emphasized .jewel.snackbar-message {
  color: #FFFFFF;
}
.jewel.snackbar.emphasized .jewel.snackbar-action {
  color: #E2D70B;
}
.jewel.snackbar.emphasized .jewel.snackbar-action:hover {
  background: #dc121a;
  border: none;
}

.emphasized-lightest {
  color: #fcd8da;
}

.emphasized-light {
  color: #f47a7f;
}

.emphasized-normal {
  color: #EC1C24;
}

.emphasized-dark {
  color: #950d12;
}

.emphasized-darkest {
  color: #370507;
}

.jewel.togglebutton.emphasized {
  background: #EC1C24;
  border: 1px solid #ce1118;
  box-shadow: none;
  border-radius: 3px;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.togglebutton.emphasized:hover, .jewel.togglebutton.emphasized:hover:focus {
  background: #dc121a;
  border: 1px solid #ce1118;
}
.jewel.togglebutton.emphasized:active, .jewel.togglebutton.emphasized:active:focus {
  background: #ad0e15;
  border: 1px solid #ce1118;
  box-shadow: none;
}
.jewel.togglebutton.emphasized:focus {
  background: #ee343b;
  border: 1px solid #ce1118;
  box-shadow: none;
}
.jewel.togglebutton.emphasized[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.selected {
  background: #ad0e15;
  border: 1px solid #ce1118;
  box-shadow: none;
}

/*# sourceMappingURL=defaults.css.map */
