/*
*
*  Licensed to the Apache Software Foundation (ASF) under one or more
*  contributor license agreements.  See the NOTICE file distributed with
*  this work for additional information regarding copyright ownership.
*  The ASF licenses this file to You under the Apache License, Version 2.0
*  (the "License"); you may not use this file except in compliance with
*  the License.  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*
*/

@namespace "library://ns.apache.org/royale/express";

.royale *, . royale *:before, . royale *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

global {
    IStatesImpl:            ClassReference("org.apache.royale.core.StatesWithTransitionsImpl");
	IEffectTimer: 			ClassReference("org.apache.royale.utils.EffectTimer");
}

Application
{
	padding: 0px;
	margin: 0px;
}

DataGrid
{
	IChangePropagator: ClassReference("org.apache.royale.html.beads.DataGridColumnChangePropagator");
	IDataGridPresentationModel: ClassReference("org.apache.royale.html.beads.models.DataGridPresentationModel");
	IBeadView: ClassReference("org.apache.royale.html.beads.DataGridView");
	IBeadModel: ClassReference("org.apache.royale.express.beads.models.DataGridModel");
	IBeadLayout: ClassReference("org.apache.royale.express.beads.layouts.DataGridLayout");
	ColumnClassName: "DataGridColumnList";
	
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #222222;
	border-width: 1px;
}

DataGridColumnList
{
	IBeadModel: ClassReference("org.apache.royale.express.beads.models.DataGridModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.ListView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForCollectionView");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("org.apache.royale.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
	border-style: none;
	background-color: #FFFFFF;
}


/*DataGridButtonBar {
	IBeadView: ClassReference("org.apache.royale.html.beads.DataGridButtonBarViewForMovableColumns");
}*/

Container
{	
	IBeadView: ClassReference("org.apache.royale.html.beads.ContainerView");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.BasicLayout");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
	
	background-color: #FFFFFF;
}

HSlider
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.RangeModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.SliderView");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.HorizontalSliderLayout");
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.HSliderMouseController");
	position: relative;
}

VSlider
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.RangeModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.SliderView");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalSliderLayout");
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.VSliderMouseController");
	position: relative;
}

.SliderTrack {
	position: absolute;
}
.SliderThumb {
	position: absolute;
}

TextInput
{
	border: 1px solid #808080;
	border-radius: 2px;
	padding: 4px;
	margin: 0px;
}

View
{
	IBeadView: ClassReference("org.apache.royale.html.beads.GroupView");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.BasicLayout");
}

@media -royale-swf
{
	DataGrid {
		IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
		IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
	}
	StringItemRenderer {
		IBackgroundBead: ClassReference("org.apache.royale.html.beads.SolidBackgroundBead");
		IBorderBead: ClassReference("org.apache.royale.html.beads.SingleLineBorderBead");
	}

}