/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@namespace "library://ns.apache.org/royale/basic";

BarChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.BarChartLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.BoxItemRenderer");
    ISelectableItemRenderer: ClassReference("org.apache.royale.charts.beads.ChartSelectableItemRendererBead");
    IHorizontalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
    IVerticalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}

BoxItemRenderer
{
    IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
}

WedgeItemRenderer
{
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
}

ColumnChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.ColumnChartLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.BoxItemRenderer");
    ISelectableItemRenderer: ClassReference("org.apache.royale.charts.beads.ChartSelectableItemRendererBead");
    IHorizontalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
    IVerticalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}

LineChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.LineChartCategoryVsLinearLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.BoxItemRenderer");
    ISelectableItemRenderer: ClassReference("org.apache.royale.charts.beads.ChartSelectableItemRendererBead");
    IConnectedItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.LineSegmentItemRenderer");
    IHorizontalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
    IVerticalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}

PieChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.PieChartLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.WedgeItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}

StackedColumnChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.StackedColumnChartLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.BoxItemRenderer");
    ISelectableItemRenderer: ClassReference("org.apache.royale.charts.beads.ChartSelectableItemRendererBead");
    IHorizontalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
    IVerticalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}

StackedBarChart
{
    IBeadModel: ClassReference("org.apache.royale.charts.beads.models.ChartArraySelectionModel");
    IBeadView:  ClassReference("org.apache.royale.charts.beads.ChartView");			
    IBeadController: ClassReference("org.apache.royale.charts.beads.controllers.ChartSeriesMouseController");
    IBeadLayout: ClassReference("org.apache.royale.charts.beads.layouts.StackedBarChartLayout");
    IContentView: ClassReference("org.apache.royale.charts.supportClasses.ChartDataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.charts.beads.DataItemRendererFactoryForSeriesData");
    IItemRenderer: ClassReference("org.apache.royale.charts.supportClasses.BoxItemRenderer");
    ISelectableItemRenderer: ClassReference("org.apache.royale.charts.beads.ChartSelectableItemRendererBead");
    IHorizontalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
    IVerticalAxisGroup: ClassReference("org.apache.royale.charts.supportClasses.ChartAxisGroup");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
}
