<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${project}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Home/bin/java"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-Xmx384m -Dsun.io.useCanonCaches=false -Dflexcompiler=&quot;${FLEX_HOME}&quot; -Dflexlib=&quot;${FLEX_HOME}/frameworks&quot; -jar ${FLEX_HOME}/lib/falcon-mxmlc.jar -compiler.mxml.children-as-data -output=&quot;${project_loc}/bin-release/${project_name}.swf&quot; &quot;${resource_loc}&quot;"/>
</launchConfiguration>
