/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@namespace "library://ns.apache.org/flexjs/basic";
@namespace h5 "library://ns.apache.org/flexjs/html5";
@namespace jq "library://ns.apache.org/flexjs/jquery";
@namespace createjs "library://ns.apache.org/flexjs/createjs";

/* Global style declaration */
*
{
    font-family: "Arial";
    font-size: 12px;
}

Button
{
	background-color: #d8d8d8;
	border: 1px solid #000000;
	padding: 4px;
}

Button:hover
{
	background-color: #9fa0a1;
	border: 1px solid #000000;
	padding: 4px;
}

Button:active
{
	background-color: #929496;
	border: 1px solid #000000;
	padding: 4px;
}

@media -flex-flash
{

/* Global style declaration */
global
{
    ITextBead: ClassReference("org.apache.flex.html.staticControls.beads.TextFieldBead");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IStatesImpl: ClassReference("org.apache.flex.core.SimpleStatesImpl");
}

CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    ICheckBoxBead:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxBead");			
}

Container
{
	IContainerBead: ClassReference("org.apache.flex.html.staticControls.beads.ContainerBead")
}

ComboBox
{
    IComboBoxBead: ClassReference("org.apache.flex.html.staticControls.beads.ComboBoxBead");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ComboBoxModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

DropDownList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

DropDownListList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
}

Label
{
	width: 95;
	height: 18;
	iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TextFieldLabelMeasurementBead");
}

List
{
	IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
}

RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IRadioButtonBead:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonBead");			
}

TextButton
{
	ITextButtonBead: ClassReference("org.apache.flex.html.staticControls.beads.CSSTextButtonBead");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonMeasurementBead");
}

TextInput
{
    ITextInputBead: ClassReference("org.apache.flex.html.staticControls.beads.TextInputWithBorderBead");
	width: 135;
	height: 20;
}

TitleBar
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TitleBarModel");
    ILayoutBead: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualHorizontalLayout");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TitleBarMeasurementBead");
}

ControlBar
{
    ILayoutBead: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualHorizontalLayout");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.ControlBarMeasurementBead");
}

Panel
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.PanelModel");
    IPanelBead: ClassReference("org.apache.flex.html.staticControls.beads.PanelBead");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");

    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

SimpleAlert
{
    iBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.AlertModel");
    iAlertBead:  ClassReference("org.apache.flex.html.staticControls.beads.SimpleAlertBead");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");

    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

Alert
{
    iBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.AlertModel");
    iAlertBead:  ClassReference("org.apache.flex.html.staticControls.beads.AlertBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");

    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

Spinner
{
    iBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.SpinnerModel");
    iSpinnerBead:  ClassReference("org.apache.flex.html.staticControls.beads.SpinnerBead");
}

NumericStepper
{
    iBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.SpinnerModel");
    iNumericStepperBead: ClassReference("org.apache.flex.html.staticControls.beads.NumericStepperBead");

    padding: 0px;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
    background-color: #FFFFFF;
    iBorderBead: ClassReference('org.apache.flex.html.staticControls.beads.SingleLineBorderBead');
    iBackgroundBead: ClassReference('org.apache.flex.html.staticControls.beads.SolidBackgroundBead');
}

/* HTML5 */

h5|TextButton
{
	ITextButtonBead: ClassReference("org.apache.flex.html.staticControls.beads.CSSTextButtonBead");
}

h5|TextInput
{
    ITextInputBead: ClassReference("org.apache.flex.html.staticControls.beads.TextInputWithBorderBead");
}

h5|CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    ICheckBoxBead:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxBead");			
}

h5|RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IRadioButtonBead:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonBead");			
}

h5|List
{
	IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
}

h5|DropDownList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

h5|ComboBox
{
    IComboBoxBead: ClassReference("org.apache.flex.html.staticControls.beads.ComboBoxBead");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ComboBoxModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

/* jQuery */

jq|TextButton
{
	ITextButtonBead: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonBead");
}


jq|CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    ICheckBoxBead:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxBead");			
}

jq|RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IRadioButtonBead:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonBead");			
}

/* createjs */

createjs|TextButton
{
        ITextButtonBead: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonBead");
}

createjs|CheckBox
{
        ICheckBoxBead: ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxBead");
}

}
