/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@namespace "library://ns.apache.org/flexjs/basic";
@namespace h5 "library://ns.apache.org/flexjs/html5";
@namespace jq "library://ns.apache.org/flexjs/jquery";
@namespace createjs "library://ns.apache.org/flexjs/createjs";

/* Global style declaration */
*
{
    font-family: "Arial";
    font-size: 12px;
}

BarChart
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IBeadView:  ClassReference("org.apache.flex.charts.beads.BarChartView");			
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ListSingleSelectionMouseController");
    IBeadLayout: ClassReference("org.apache.flex.charts.beads.layouts.BarChartLayout");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.charts.beads.ChartItemRendererFactory");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.charts.supportClasses.BoxItemRenderer");
}

Button
{
	background-color: #d8d8d8;
	border: 1px solid #000000;
	padding: 4px;
	/*IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.CSSButtonView");*/
}

Button:hover
{
	background-color: #9fa0a1;
	border: 1px solid #000000;
	padding: 4px;
}

Button:active
{
	background-color: #929496;
	border: 1px solid #000000;
	padding: 4px;
}

ButtonBar
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.ButtonBarView");			
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ListSingleSelectionMouseController");
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.ButtonBarLayout");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.staticControls.beads.TextItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.ButtonBarButtonItemRenderer");

    border-style: none;
}

ButtonBarButtonItemRenderer
{
    width: 80;
    height: 30;
}

DataGrid
{
    IDataGridPresentationModel: ClassReference("org.apache.flex.html.staticControls.beads.models.DataGridPresentationModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.DataGridView");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.DataGridModel");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.StringItemRenderer");

    background-color: #FFFFFF;
}

List
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.ListView");			
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ListSingleSelectionMouseController");
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualVerticalScrollingLayout");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.staticControls.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.StringItemRenderer");
}

SimpleList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.ListView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ListSingleSelectionMouseController");
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualVerticalScrollingLayout");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.staticControls.beads.TextItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.StringItemRenderer");
}

StringItemRenderer
{
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ItemRendererMouseController");
    height: 16;
}

/* Global Style Declaration */
global
{
    IStatesImpl: ClassReference("org.apache.flex.core.SimpleStatesImpl");
}

@media -flex-flash
{

Alert
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.AlertModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.AlertView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.AlertController");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxView");			
}

ComboBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ComboBoxModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.ComboBoxView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ComboBoxController");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.staticControls.beads.TextItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.StringItemRenderer");
}

Container
{
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.ContainerView")
}

ControlBar
{
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualHorizontalLayout");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.ControlBarMeasurementBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    
    background-color: #CECECE;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

DropDownList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.DropDownListView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.DropDownListController");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

DropDownListList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.staticControls.beads.TextItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.staticControls.supportClasses.StringItemRenderer");
}

Image
{
    width: 64;
    height: 64;
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ImageModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.ImageView");
}

Label
{
	width: 95;
	height: 18;
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextFieldView");
	iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TextFieldLabelMeasurementBead");
}

List
{
    iBorderBead: ClassReference('org.apache.flex.html.staticControls.beads.SingleLineBorderBead');
    iBorderModel: ClassReference('org.apache.flex.html.staticControls.beads.models.SingleLineBorderModel');
}

NumericStepper
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.RangeModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.NumericStepperView");
    
    padding: 0px;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
    background-color: #FFFFFF;
    iBorderBead: ClassReference('org.apache.flex.html.staticControls.beads.SingleLineBorderBead');
    iBackgroundBead: ClassReference('org.apache.flex.html.staticControls.beads.SolidBackgroundBead');
}

Panel
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.PanelModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.PanelView");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");
    
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonView");			
}

ScrollBar
{
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.VScrollBarLayout");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ScrollBarModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.ScrollBarView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.VScrollBarMouseController");
}

SimpleAlert
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.AlertModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.SimpleAlertView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.AlertController");
    iBorderBead: ClassReference("org.apache.flex.html.staticControls.beads.SingleLineBorderBead");
    iBackgroundBead: ClassReference("org.apache.flex.html.staticControls.beads.SolidBackgroundBead");
    
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-thickness: 1;
}

Slider
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.RangeModel");
    iBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.SliderView");
    iBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.SliderMouseController");
    iThumbView: ClassReference("org.apache.flex.html.staticControls.beads.SliderThumbView");
    iTrackView: ClassReference("org.apache.flex.html.staticControls.beads.SliderTrackView");
}

Spinner
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.RangeModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.SpinnerView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.SpinnerMouseController");
}

TextArea
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextAreaView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.EditableTextKeyboardController");
    iBorderBead: ClassReference('org.apache.flex.html.staticControls.beads.SingleLineBorderBead');
    iBorderModel: ClassReference('org.apache.flex.html.staticControls.beads.models.SingleLineBorderModel');
    width: 135;
    height: 20;
}

TextButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.CSSTextButtonView");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonMeasurementBead");
}

TextFieldItemRenderer
{
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.ItemRendererMouseController");
    height: 16;
}

TextInput
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextInputWithBorderView");
    IBeadController: ClassReference("org.apache.flex.html.staticControls.beads.controllers.EditableTextKeyboardController");
    iBorderBead: ClassReference('org.apache.flex.html.staticControls.beads.SingleLineBorderBead');
    iBorderModel: ClassReference('org.apache.flex.html.staticControls.beads.models.SingleLineBorderModel');
	width: 135;
	height: 20;
}

TitleBar
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TitleBarModel");
    IBeadLayout: ClassReference("org.apache.flex.html.staticControls.beads.layouts.NonVirtualHorizontalLayout");
    iMeasurementBead: ClassReference("org.apache.flex.html.staticControls.beads.TitleBarMeasurementBead");
}

/* HTML5 */

h5|TextButton
{
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.CSSTextButtonView");
}

h5|TextInput
{
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextInputWithBorderView");
}

h5|CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxView");			
}

h5|RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonView");			
}

h5|List
{
	IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
}

h5|DropDownList
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ArraySelectionModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

h5|ComboBox
{
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.ComboBoxView");
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ComboBoxModel");
    IPopUp: ClassReference("org.apache.flex.html.staticControls.supportClasses.DropDownListList");
}

/* jQuery */

jq|TextButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonView");
}


jq|CheckBox
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxView");			
}

jq|RadioButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.ValueToggleButtonModel");
    IBeadView:  ClassReference("org.apache.flex.html.staticControls.beads.RadioButtonView");			
}

/* createjs */

createjs|TextButton
{
    IBeadModel: ClassReference("org.apache.flex.html.staticControls.beads.models.TextModel");
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.TextButtonView");
}

createjs|CheckBox
{
    IBeadView: ClassReference("org.apache.flex.html.staticControls.beads.CheckBoxView");
}

}
