/**
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.royale *, .royale *:before, .royale *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.royale {
  padding: 10px;
  margin: 10px;
}

.jewel.button {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(#e6e6e6, #cccccc);
  box-shadow: inset 0 1px 0 white;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.jewel.button:hover {
  border: 1px solid #a6a6a6;
  background: linear-gradient(#d9d9d9, silver);
}
.jewel.button:active {
  border: 1px solid #8d8d8d;
  background: linear-gradient(silver, #a6a6a6);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button:focus {
  outline: 0;
}
.jewel.button[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  box-shadow: none;
  cursor: unset;
}

.jewel.button.primary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #0f88d1;
  background: linear-gradient(#54b7f3, #24a3ef);
  box-shadow: inset 0 1px 0 #9bd5f8;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.jewel.button.primary:hover {
  border: 1px solid #0d79ba;
  background: linear-gradient(#3CADF1, #1198e9);
}
.jewel.button.primary:active {
  border: 1px solid #0a5a8a;
  background: linear-gradient(#1198e9, #0d79ba);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.primary:focus {
  outline: 0;
}
.jewel.button.primary[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  box-shadow: none;
  cursor: unset;
}

.jewel.button.secondary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #be390e;
  background: linear-gradient(#f16c42, #ed4812);
  box-shadow: inset 0 1px 0 #f6a389;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.jewel.button.secondary:hover {
  border: 1px solid #a6320d;
  background: linear-gradient(#EF5A2A, #d64010);
}
.jewel.button.secondary:active {
  border: 1px solid #772409;
  background: linear-gradient(#d64010, #a6320d);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.secondary:focus {
  outline: 0;
}
.jewel.button.secondary[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  box-shadow: none;
  cursor: unset;
}

.jewel.button.emphasized {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #277b32;
  background: linear-gradient(#45c354, #34a241);
  box-shadow: inset 0 1px 0 #7fd68a;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.jewel.button.emphasized:hover {
  border: 1px solid #21682a;
  background: linear-gradient(#3AB549, #2e8e39);
}
.jewel.button.emphasized:active {
  border: 1px solid #15411a;
  background: linear-gradient(#2e8e39, #21682a);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.emphasized:focus {
  outline: 0;
}
.jewel.button.emphasized[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  box-shadow: none;
  cursor: unset;
}

.jewel.label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.jewel.textbutton {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #b3b3b3;
  background: linear-gradient(#e6e6e6, #cccccc);
  box-shadow: inset 0 1px 0 white;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
  text-decoration: none;
}
.jewel.textbutton:hover {
  border: 1px solid #a6a6a6;
  background: linear-gradient(#d9d9d9, silver);
  box-shadow: inser 0 0 0;
}
.jewel.textbutton:active {
  border: 1px solid #8d8d8d;
  background: linear-gradient(silver, #a6a6a6);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton:focus {
  outline: 0;
}
.jewel.textbutton[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  color: #b9b9b9;
  box-shadow: none;
  cursor: unset;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textbutton.primary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #0f88d1;
  background: linear-gradient(#54b7f3, #24a3ef);
  box-shadow: inset 0 1px 0 #9bd5f8;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  shadow: 0 1px 0 #d9d9d9;
}
.jewel.textbutton.primary:hover {
  border: 1px solid #0d79ba;
  background: linear-gradient(#3CADF1, #1198e9);
  box-shadow: inser 0 0 0;
}
.jewel.textbutton.primary:active {
  border: 1px solid #0a5a8a;
  background: linear-gradient(#1198e9, #0d79ba);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton.primary:focus {
  outline: 0;
}
.jewel.textbutton.primary[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  color: #b9b9b9;
  box-shadow: none;
  cursor: unset;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textbutton.secondary {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #be390e;
  background: linear-gradient(#f16c42, #ed4812);
  box-shadow: inset 0 1px 0 #f6a389;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  shadow: 0 1px 0 #d9d9d9;
}
.jewel.textbutton.secondary:hover {
  border: 1px solid #a6320d;
  background: linear-gradient(#EF5A2A, #d64010);
  box-shadow: inser 0 0 0;
}
.jewel.textbutton.secondary:active {
  border: 1px solid #772409;
  background: linear-gradient(#d64010, #a6320d);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton.secondary:focus {
  outline: 0;
}
.jewel.textbutton.secondary[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  color: #b9b9b9;
  box-shadow: none;
  cursor: unset;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textbutton.emphasized {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #277b32;
  background: linear-gradient(#45c354, #34a241);
  box-shadow: inset 0 1px 0 #7fd68a;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  shadow: 0 1px 0 #d9d9d9;
}
.jewel.textbutton.emphasized:hover {
  border: 1px solid #21682a;
  background: linear-gradient(#3AB549, #2e8e39);
  box-shadow: inser 0 0 0;
}
.jewel.textbutton.emphasized:active {
  border: 1px solid #15411a;
  background: linear-gradient(#2e8e39, #21682a);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton.emphasized:focus {
  outline: 0;
}
.jewel.textbutton.emphasized[disabled] {
  border: 1px solid #c6c6c6;
  background: #F9F9F9;
  color: #b9b9b9;
  box-shadow: none;
  cursor: unset;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textfield {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
}

.jewel.textfield > input {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border: none;
  border-bottom: 2px solid;
  border-bottom-color: #ff0000;
  display: block;
  margin: 0;
  padding: 4 0;
  width: 100px;
  background: transparent;
  text-align: left;
  color: inherit;
  outline: none;
}

.jewel.textfield > label {
  bottom: 0;
  color: #ff0000;
  font-size: 13px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

/*# sourceMappingURL=defaults.css.map */
