/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.jewel.badge.emphasized {
  background: #F8B13F;
  color: #FFFFFF;
}

.jewel.button.emphasized {
  background: #F8B13F;
  border: 1px solid #f7a118;
  box-shadow: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.button.emphasized:hover, .jewel.button.emphasized:hover:focus {
  background: #f7a726;
  border: 1px solid #f7a118;
  color: #FFFFFF;
}
.jewel.button.emphasized:active, .jewel.button.emphasized:active:focus {
  background: #e28f08;
  border: 1px solid #f7a118;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.button.emphasized:focus {
  background: #f9bb58;
  border: 1px solid #f7a118;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.button.emphasized[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.emphasized[disabled]:hover, .jewel.button.emphasized[disabled]:hover:focus {
  color: silver;
}

.jewel.button.emphasized.outlined {
  background: rgba(248, 177, 63, 0.05);
  border: 1px solid #f69d0e;
  box-shadow: none;
  color: #e28f08;
  text-shadow: none;
}
.jewel.button.emphasized.outlined:hover, .jewel.button.emphasized.outlined:hover:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid #e28f08;
  color: #b17006;
}
.jewel.button.emphasized.outlined:active, .jewel.button.emphasized.outlined:active:focus {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid #d38508;
  box-shadow: none;
  color: #b17006;
}
.jewel.button.emphasized.outlined:focus {
  border: 1px solid #ca7f07;
  box-shadow: none;
  color: #b17006;
}
.jewel.button.emphasized.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.emphasized.outlined[disabled]:hover, .jewel.button.emphasized.outlined[disabled]:hover:focus {
  color: silver;
}

.jewel.button.emphasized.unboxed {
  background: rgba(248, 177, 63, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #e28f08;
  text-shadow: none;
}
.jewel.button.emphasized.unboxed:hover, .jewel.button.emphasized.unboxed:hover:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid transparent;
  color: #b17006;
}
.jewel.button.emphasized.unboxed:active, .jewel.button.emphasized.unboxed:active:focus {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #b17006;
}
.jewel.button.emphasized.unboxed:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #b17006;
}
.jewel.button.emphasized.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.emphasized.unboxed[disabled]:hover, .jewel.button.emphasized.unboxed[disabled]:hover:focus {
  color: silver;
}

.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.hovered {
  background: #fac97a;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selected, .jewel.datagrid .jewel.list.column .jewel.item.datagrid.emphasized.selectable:active {
  background: #f9bf61;
}

.jewel.item.emphasized.hovered {
  background: #F8B13F;
}
.jewel.item.emphasized.selected, .jewel.item.emphasized.selectable:active {
  background: #f7a726;
}

.jewel.loader.emphasized.segment {
  border-top-color: #F8B13F;
}

.jewel.snackbar.emphasized .jewel.snackbar-content {
  background: #F8B13F;
  border: 0px solid;
  box-shadow: none;
}
.jewel.snackbar.emphasized .jewel.snackbar-message {
  color: #FFFFFF;
}
.jewel.snackbar.emphasized .jewel.snackbar-action {
  color: #E2D70B;
}
.jewel.snackbar.emphasized .jewel.snackbar-action:hover {
  background: #f7a726;
  border: none;
}

.emphasized-lightest {
  color: white;
}

.emphasized-light {
  color: #fcd9a1;
}

.emphasized-normal {
  color: #F8B13F;
}

.emphasized-dark {
  color: #ca7f07;
}

.emphasized-darkest {
  color: #674104;
}

.jewel.togglebutton.emphasized {
  background: #F8B13F;
  border: 1px solid #f7a118;
  box-shadow: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.togglebutton.emphasized:hover, .jewel.togglebutton.emphasized:hover:focus {
  background: #f7a726;
  border: 1px solid #f7a118;
  color: #FFFFFF;
}
.jewel.togglebutton.emphasized:active, .jewel.togglebutton.emphasized:active:focus {
  background: #e28f08;
  border: 1px solid #f7a118;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.togglebutton.emphasized:focus {
  background: #f9bb58;
  border: 1px solid #f7a118;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.togglebutton.emphasized[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.selected {
  background: #e28f08;
  border: 1px solid #f7a118;
  box-shadow: none;
  color: #FFFFFF;
}

.jewel.togglebutton.emphasized.outlined {
  background: rgba(248, 177, 63, 0.05);
  border: 1px solid #f69d0e;
  box-shadow: none;
  color: #e28f08;
  text-shadow: none;
}
.jewel.togglebutton.emphasized.outlined:hover, .jewel.togglebutton.emphasized.outlined:hover:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid #e28f08;
  color: #b17006;
}
.jewel.togglebutton.emphasized.outlined:active, .jewel.togglebutton.emphasized.outlined:active:focus {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid #d38508;
  box-shadow: none;
  color: #b17006;
}
.jewel.togglebutton.emphasized.outlined:focus {
  border: 1px solid #ca7f07;
  box-shadow: none;
  color: #b17006;
}
.jewel.togglebutton.emphasized.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.outlined.selected {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid #d38508;
  box-shadow: none;
  color: #b17006;
}

.jewel.togglebutton.emphasized.unboxed {
  background: rgba(248, 177, 63, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #e28f08;
  text-shadow: none;
}
.jewel.togglebutton.emphasized.unboxed:hover, .jewel.togglebutton.emphasized.unboxed:hover:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid transparent;
  color: #b17006;
}
.jewel.togglebutton.emphasized.unboxed:active, .jewel.togglebutton.emphasized.unboxed:active:focus {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #b17006;
}
.jewel.togglebutton.emphasized.unboxed:focus {
  background: rgba(248, 177, 63, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #b17006;
}
.jewel.togglebutton.emphasized.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.emphasized.unboxed.selected {
  background: rgba(248, 177, 63, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #b17006;
}

/*# sourceMappingURL=defaults.css.map */
