/*
////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "http://www.w3.org/1999/xhtml";
@namespace js "library://ns.apache.org/royale/basic";

.royale *, . royale *:before, . royale *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content
{
	padding: 10px;
	margin: 10px;
}

/*
* TextButton
*/

js|TextButton {
    /* Background: */
background: #D8D8D8;
border: 1px solid #979797;
border-radius: 3px;

/* TextField: */
font-family: HelveticaNeue;
font-size: 12px;
color: #646D7A;
}

/*js|TextButton:hover {
    background-color: #CFCFCF;
    vertical-align: middle;
    border: none;
    border-radius: 6px;
}

js|TextButton:active {
    background-color: #77CEFF;
    color: #FFFFFF;
}*/