/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.jewel.badge.secondary {
  background: #29A89F;
  color: #FFFFFF;
}

.jewel.button.secondary {
  background: #29A89F;
  border: 1px solid #218780;
  box-shadow: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.button.secondary:hover, .jewel.button.secondary:hover:focus {
  background: #24948c;
  border: 1px solid #218780;
  color: #FFFFFF;
}
.jewel.button.secondary:active, .jewel.button.secondary:active:focus {
  background: #1a6b65;
  border: 1px solid #218780;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.button.secondary:focus {
  background: #2ebcb2;
  border: 1px solid #218780;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.button.secondary[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary[disabled]:hover, .jewel.button.secondary[disabled]:hover:focus {
  color: silver;
}

.jewel.button.secondary.outlined {
  background: rgba(41, 168, 159, 0.05);
  border: 1px solid #1f7f78;
  box-shadow: none;
  color: #1a6b65;
  text-shadow: none;
}
.jewel.button.secondary.outlined:hover, .jewel.button.secondary.outlined:hover:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid #1a6b65;
  color: #10423e;
}
.jewel.button.secondary.outlined:active, .jewel.button.secondary.outlined:active:focus {
  background: rgba(41, 168, 159, 0.25);
  border: 1px solid #175e59;
  box-shadow: none;
  color: #10423e;
}
.jewel.button.secondary.outlined:focus {
  border: 1px solid #155651;
  box-shadow: none;
  color: #10423e;
}
.jewel.button.secondary.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary.outlined[disabled]:hover, .jewel.button.secondary.outlined[disabled]:hover:focus {
  color: silver;
}

.jewel.button.secondary.unboxed {
  background: rgba(41, 168, 159, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #1a6b65;
  text-shadow: none;
}
.jewel.button.secondary.unboxed:hover, .jewel.button.secondary.unboxed:hover:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid transparent;
  color: #10423e;
}
.jewel.button.secondary.unboxed:active, .jewel.button.secondary.unboxed:active:focus {
  background: rgba(41, 168, 159, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #10423e;
}
.jewel.button.secondary.unboxed:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #10423e;
}
.jewel.button.secondary.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary.unboxed[disabled]:hover, .jewel.button.secondary.unboxed[disabled]:hover:focus {
  color: silver;
}

.jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.hovered {
  background: #3ed0c6;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.selected, .jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.selectable:active {
  background: #30c5ba;
}

.jewel.item.secondary.hovered {
  background: #29A89F;
}
.jewel.item.secondary.selected, .jewel.item.secondary.selectable:active {
  background: #24948c;
}

.jewel.loader.secondary.segment {
  border-top-color: #29A89F;
}

.jewel.snackbar.secondary .jewel.snackbar-content {
  background: #29A89F;
  border: 0px solid;
  box-shadow: none;
}
.jewel.snackbar.secondary .jewel.snackbar-message {
  color: #FFFFFF;
}
.jewel.snackbar.secondary .jewel.snackbar-action {
  color: #E2D70B;
}
.jewel.snackbar.secondary .jewel.snackbar-action:hover {
  background: #24948c;
  border: none;
}

a:visited {
  color: #1f7f78;
}

a:hover {
  color: #29A89F;
}

a:active {
  color: #36cec3;
}

.secondary-lightest {
  color: #b1ece8;
}

.secondary-light {
  color: #5fd8cf;
}

.secondary-normal {
  color: #29A89F;
}

.secondary-dark {
  color: #155651;
}

.secondary-darkest {
  color: #010404;
}

.jewel.togglebutton.secondary {
  background: #29A89F;
  border: 1px solid #218780;
  box-shadow: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: none;
}
.jewel.togglebutton.secondary:hover, .jewel.togglebutton.secondary:hover:focus {
  background: #24948c;
  border: 1px solid #218780;
  color: #FFFFFF;
}
.jewel.togglebutton.secondary:active, .jewel.togglebutton.secondary:active:focus {
  background: #1a6b65;
  border: 1px solid #218780;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.togglebutton.secondary:focus {
  background: #2ebcb2;
  border: 1px solid #218780;
  box-shadow: none;
  color: #FFFFFF;
}
.jewel.togglebutton.secondary[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.selected {
  background: #1a6b65;
  border: 1px solid #218780;
  box-shadow: none;
  color: #FFFFFF;
}

.jewel.togglebutton.secondary.outlined {
  background: rgba(41, 168, 159, 0.05);
  border: 1px solid #1f7f78;
  box-shadow: none;
  color: #1a6b65;
  text-shadow: none;
}
.jewel.togglebutton.secondary.outlined:hover, .jewel.togglebutton.secondary.outlined:hover:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid #1a6b65;
  color: #10423e;
}
.jewel.togglebutton.secondary.outlined:active, .jewel.togglebutton.secondary.outlined:active:focus {
  background: rgba(41, 168, 159, 0.25);
  border: 1px solid #175e59;
  box-shadow: none;
  color: #10423e;
}
.jewel.togglebutton.secondary.outlined:focus {
  border: 1px solid #155651;
  box-shadow: none;
  color: #10423e;
}
.jewel.togglebutton.secondary.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.outlined.selected {
  background: rgba(41, 168, 159, 0.25);
  border: 1px solid #175e59;
  box-shadow: none;
  color: #10423e;
}

.jewel.togglebutton.secondary.unboxed {
  background: rgba(41, 168, 159, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #1a6b65;
  text-shadow: none;
}
.jewel.togglebutton.secondary.unboxed:hover, .jewel.togglebutton.secondary.unboxed:hover:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid transparent;
  color: #10423e;
}
.jewel.togglebutton.secondary.unboxed:active, .jewel.togglebutton.secondary.unboxed:active:focus {
  background: rgba(41, 168, 159, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #10423e;
}
.jewel.togglebutton.secondary.unboxed:focus {
  background: rgba(41, 168, 159, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #10423e;
}
.jewel.togglebutton.secondary.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.unboxed[disabled]:hover, .jewel.togglebutton.secondary.unboxed[disabled]:hover:focus {
  color: silver;
}

/*# sourceMappingURL=defaults.css.map */
