/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.royale *, .royale *:before, .royale *:after {
  box-sizing: border-box;
}

j|Application {
  background: black;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 15px;
}

span {
  font-size: 14px;
}

div {
  font-size: 14px;
}

.container {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

::-moz-focus-inner {
  border: 0;
}

.jewel.button.emphasized {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px;
  min-width: 34px;
  min-height: 34px;
  border: 1px solid #551654;
  background: linear-gradient(#a62aa4, #7e207c);
  box-shadow: inset 0 1px 0 #d24bcf;
  border-radius: 3px;
}
.jewel.button.emphasized:hover, .jewel.button.emphasized:hover:focus {
  border: 1px solid #411040;
  background: linear-gradient(#922590, #691b68);
}
.jewel.button.emphasized:active, .jewel.button.emphasized:active:focus {
  border: 1px solid #180618;
  background: linear-gradient(#691b68, #411040);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.emphasized:focus {
  outline: none;
  border: 1px solid #551654;
  box-shadow: inset 0px 0px 0px 1px rgba(240, 198, 240, 0.5), inset 0 1px 0 rgba(246, 218, 245, 0.6);
}
.jewel.button.emphasized[disabled] {
  cursor: unset;
  border: 1px solid #0d0d0d;
  background: #404040;
  box-shadow: none;
}

.jewel.textbutton {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #333333;
  background: linear-gradient(#666666, #4c4c4c);
  box-shadow: inset 0 1px 0 #8c8c8c;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(13, 13, 13, 0.7);
}
.jewel.textbutton:hover, .jewel.textbutton:hover:focus {
  border: 1px solid #262626;
  background: linear-gradient(#595959, #404040);
}
.jewel.textbutton:active, .jewel.textbutton:active:focus {
  border: 1px solid #0d0d0d;
  background: linear-gradient(#404040, #262626);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton:focus {
  outline: none;
  border: 1px solid #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 0.5), inset 0 1px 0 rgba(229, 229, 229, 0.6);
}
.jewel.textbutton[disabled] {
  cursor: unset;
  border: 1px solid #0d0d0d;
  background: #404040;
  box-shadow: none;
  color: #737373;
  font-weight: normal;
  text-shadow: unset;
}

.jewel.textbutton.emphasized {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  min-width: 74px;
  min-height: 34px;
  border: 1px solid #551654;
  background: linear-gradient(#a62aa4, #7e207c);
  box-shadow: inset 0 1px 0 #d24bcf;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(24, 6, 24, 0.7);
}
.jewel.textbutton.emphasized:hover, .jewel.textbutton.emphasized:hover:focus {
  border: 1px solid #411040;
  background: linear-gradient(#922590, #691b68);
}
.jewel.textbutton.emphasized:active, .jewel.textbutton.emphasized:active:focus {
  border: 1px solid #180618;
  background: linear-gradient(#691b68, #411040);
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.textbutton.emphasized:focus {
  outline: none;
  border: 1px solid #551654;
  box-shadow: inset 0px 0px 0px 1px rgba(240, 198, 240, 0.5), inset 0 1px 0 rgba(246, 218, 245, 0.6);
}
.jewel.textbutton.emphasized[disabled] {
  cursor: unset;
  border: 1px solid #0d0d0d;
  background: #404040;
  box-shadow: none;
  color: #737373;
  font-weight: normal;
  text-shadow: unset;
}

/*# sourceMappingURL=defaults.css.map */
