////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////

@namespace j "library://ns.apache.org/royale/jewel"
@namespace "http://www.w3.org/1999/xhtml"

j|Application
	background: $background-color
	font:
		family: $font-stack
	color: $default-font-color
	padding: 0px
	margin: 0px

input, select, textarea, button
	font-family: inherit

j|Form
	gap: 3

h1
	font-size: 2.5em

h2
	font-size: 2em

h3
	font-size: 1.5em

h4
	font-size: 1.25em

h5
	font-size: 1em

span
	font-size: 1em

div
	font-size: 14px

hr
	background-color: $default-color

//Sizes for Button, TextInput, Icons and other controls
.jewel.xsmall
	font:
		size: $font-size-xsmall 

.jewel.small
	font:
		size: $font-size-small 
	
.jewel
	font:
		size: $font-size 

.jewel.large
	font:
		size: $font-size-large 
	
.jewel.xlarge
	font:
		size: $font-size-xlarge 

.jewel.imagebutton
	outline: 0