////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////

// Jewel Button

// Button variables
$button-border-radius: 3px

=button-theme($button-color, $text-color)
	
	+jewel-bg-border("normal", $button-color, $button-border-radius)
	
	color: $text-color
	
	@if not $flat and $text-color == $font-theme-color
		text-shadow: 0 -1px 0 rgba(darken($button-color, 30%), .7) //0 .063em
	@else
		text-shadow: none

	&:hover, &:hover:focus
		+jewel-bg-border("hover", $button-color)

	&:active, &:active:focus
		+jewel-bg-border("active", $button-color)

	&:focus
		+jewel-bg-border("focus", $button-color)
		
	&[disabled]
		+jewel-bg-border("disabled", $button-color)
		color: $disabled-font-color
		text-shadow: unset
		
.jewel.button.secondary
	+button-theme($secondary-color, $font-theme-color)
