/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */


@namespace "library://ns.apache.org/royale/mdl";
@namespace basic "library://ns.apache.org/royale/basic";

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.cardWithDropDownList
{
    overflow: visible !important;
    z-index: initial !important;
}

TextField
{
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.TextModel");
    /*IBeadView: ClassReference("org.apache.royale.html.beads.TextInputWithBorderView");
    IBeadController: ClassReference("org.apache.royale.html.beads.controllers.EditableTextKeyboardController");*/
}

TextArea
{
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.TextModel");
    /*IBeadView: ClassReference("org.apache.royale.html.beads.TextInputWithBorderView");
    IBeadController: ClassReference("org.apache.royale.html.beads.controllers.EditableTextKeyboardController");*/
}

IconToggle
{
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ToggleButtonModel");			
}

Switch
{
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ToggleButtonModel");			
}

Slider
{
	IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.SliderRangeModel");
	iBeadView:  ClassReference("org.apache.royale.mdl.beads.views.SliderView");
    IBeadController: ClassReference("org.apache.royale.mdl.beads.controllers.SliderMouseController");
}

List
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.ListView");
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
    IBeadLayout: ClassReference(null); /*"org.apache.royale.html.beads.layouts.VerticalLayout"*/
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.ListItemRenderer");
}

Table
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.TableView");
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
    IBeadLayout: ClassReference(null); /*"org.apache.royale.html.beads.layouts.VerticalLayout"*/
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.TableRowItemRenderer");
}

Navigation
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.ListView");
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
    IBeadLayout: ClassReference(null); /*"org.apache.royale.html.beads.layouts.VerticalLayout"*/
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.NavigationLinkItemRenderer");
}

MenuItemRenderer
{
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
}

Menu
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.ListView");
    IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
    IBeadLayout: ClassReference(null); /*"org.apache.royale.html.beads.layouts.VerticalLayout"*/
    IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.MenuItemRenderer");
}

Tabs
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.TabsView");
    IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.TabArrayModel");
    IBeadLayout: ClassReference(null);
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.mdl.beads.TabsDataItemRendererFactoryForArrayListData");
	IItemRendererInitializer: ClassReference("org.apache.royale.mdl.beads.TabsItemRendererInitializer");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.TabBarPanelItemRenderer");
}

TabBar
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.TabBarView");
    IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.TabArrayModel");
    IBeadLayout: ClassReference(null);
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.mdl.beads.TabsDataItemRendererFactoryForArrayListData");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.TabBarButtonTabsItemRenderer");
}

Toast
{
    IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.ToastModel");
}

Snackbar
{
    IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.SnackbarModel");
}

FooterLinkList
{
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.FooterLinkItemRenderer");
}

DropDownList
{
    IBeadView: ClassReference("org.apache.royale.mdl.beads.views.DropDownListView");
    IBeadModel: ClassReference("org.apache.royale.mdl.beads.models.DropDownListModel");
    IBeadLayout: ClassReference(null);
    IBeadController: ClassReference("org.apache.royale.mdl.beads.controllers.DropDownListController");
    IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
    IItemRenderer: ClassReference("org.apache.royale.mdl.itemRenderers.DropDownListItemRenderer");
}

basic|View
{
    IBeadLayout: ClassReference(null);
}


@media -royale-swf
{
    CheckBox
    {
        IBeadModel: ClassReference("org.apache.royale.html.beads.models.ToggleButtonModel");			
    }
    
    Slider
    {
        iThumbView: ClassReference("org.apache.royale.mdl.beads.views.SliderThumbView");
        iTrackView: ClassReference("org.apache.royale.mdl.beads.views.SliderTrackView");
    }

    RadioButton
	{
		IBeadModel: ClassReference("org.apache.royale.html.beads.models.ValueToggleButtonModel");
		IBeadView:  ClassReference("org.apache.royale.html.beads.RadioButtonView");			
	}
}
