<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="./base.js"></script>
    <!-- script type="text/javascript" src="./@APPLICATION_NAME@_deps.js"></script -->
    <script type="text/javascript" src="./Example_deps.js"></script>
    <script type="text/javascript">
        //goog.require("@APPLICATION_NAME@()");
        goog.require("Example");
    </script>
</head>
<body>
    <script type="text/javascript">
        //new @APPLICATION_NAME@().init();
        new Example().init();
    </script>
</body>
</html>
