/*
////////////////////////////////////////////////////////////////////////////////
//
//  Font: Lato
//  License: SIL Open Font License (OFL) v1.1
//  Copyright: © 2010-2014 Łukasz Dziedzic
//  URL: https://fonts.google.com/specimen/Lato
//  License URL: https://scripts.sil.org/OFL
//  You are free to use this font for personal and commercial projects,
//  but you cannot sell or redistribute it as a standalone product.
//
////////////////////////////////////////////////////////////////////////////////
*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lato/Lato-Regular.ttf) format('truetype');
  }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lato/Lato-Italic.ttf) format('truetype');
  }
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/lato/Lato-Bold.ttf) format('truetype');
  }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/lato/Lato-BoldItalic.ttf) format('truetype');
  }
