/*
////////////////////////////////////////////////////////////////////////////////
//
//  Licensed to the Apache Software Foundation (ASF) under one or more
//  contributor license agreements.  See the NOTICE file distributed with
//  this work for additional information regarding copyright ownership.
//  The ASF licenses this file to You under the Apache License, Version 2.0
//  (the "License"); you may not use this file except in compliance with
//  the License.  You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "library://ns.apache.org/flexjs/basic";
@namespace mdl "library://ns.apache.org/flexjs/mdl";

.flexjs *, . flexjs *:before, . flexjs *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content
{
	padding: 10px;
	margin: 10px;
}

Image
{
	vertical-align: top;
	IBeadModel: ClassReference("org.apache.flex.html.beads.models.ImageModel");
	IBeadView:  ClassReference("org.apache.flex.html.beads.ImageView");
}

mdl|List
{
    IBeadModel: ClassReference("org.apache.flex.html.beads.models.ArraySelectionModel");
    IBeadView:  ClassReference("org.apache.flex.html.beads.ListView");			
    IBeadController: ClassReference("org.apache.flex.html.beads.controllers.ListSingleSelectionMouseController");
    IBeadLayout: ClassReference("org.apache.flex.html.beads.layouts.VerticalLayout");
    IContentView: ClassReference("org.apache.flex.html.supportClasses.DataGroup");
    IDataProviderItemRendererMapper: ClassReference("org.apache.flex.html.beads.DataItemRendererFactoryForArrayData");
    IItemRendererClassFactory: ClassReference("org.apache.flex.core.ItemRendererClassFactory");
    IItemRenderer: ClassReference("org.apache.flex.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.flex.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.flex.html.beads.models.ViewportModel");
	border-style: solid;
	border-color: #222222;
}

.cardTitle
{
	color: #fff;
	height: 176px;
	background: url('assets/Unknown.jpg') center / cover;
}

.dogTitle
{
	color: #fff;
	height: 176px;
	background: url('assets/dog.png') bottom right 15% no-repeat #46B6AC;
}

.layoutTransparent {
  background: url('assets/transparent.jpg') center / cover;
  color: white;
}