/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
.jewel.badge.secondary {
  background: #8CC63C;
  color: #FFFFFF;
}

.jewel.button.secondary {
  background: linear-gradient(#98cc50, #7eb435);
  border: 1px solid #638c29;
  box-shadow: inset 0 1px 0 #bbdd8b;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(57, 81, 24, 0.7);
}
.jewel.button.secondary:hover, .jewel.button.secondary:hover:focus {
  background: linear-gradient(#8CC63C, #71a02f);
  border: 1px solid #557923;
  color: #FFFFFF;
}
.jewel.button.secondary:active, .jewel.button.secondary:active:focus {
  background: linear-gradient(#71a02f, #557923);
  border: 1px solid #395118;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  color: #FFFFFF;
}
.jewel.button.secondary:focus {
  border: 1px solid #638c29;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
}
.jewel.button.secondary[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary[disabled]:hover, .jewel.button.secondary[disabled]:hover:focus {
  color: silver;
}

.jewel.button.secondary.outlined {
  background: rgba(140, 198, 60, 0.05);
  border: 1px solid #71a02f;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.button.secondary.outlined:hover, .jewel.button.secondary.outlined:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid #638c29;
  color: #47651e;
}
.jewel.button.secondary.outlined:active, .jewel.button.secondary.outlined:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid #5a8126;
  box-shadow: none;
  color: #47651e;
}
.jewel.button.secondary.outlined:focus {
  border: 1px solid #557923;
  box-shadow: none;
  color: #47651e;
}
.jewel.button.secondary.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary.outlined[disabled]:hover, .jewel.button.secondary.outlined[disabled]:hover:focus {
  color: silver;
}

.jewel.button.secondary.unboxed {
  background: rgba(140, 198, 60, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.button.secondary.unboxed:hover, .jewel.button.secondary.unboxed:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  color: #47651e;
}
.jewel.button.secondary.unboxed:active, .jewel.button.secondary.unboxed:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.button.secondary.unboxed:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.button.secondary.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.button.secondary.unboxed[disabled]:hover, .jewel.button.secondary.unboxed[disabled]:hover:focus {
  color: silver;
}

.jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.hovered {
  background: #a8d46b;
}
.jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.selected, .jewel.datagrid .jewel.list.column .jewel.item.datagrid.secondary.selectable:active {
  background: #9cce58;
}

.jewel.item.secondary.hovered {
  background: #8CC63C;
}
.jewel.item.secondary.selected, .jewel.item.secondary.selectable:active {
  background: #7eb435;
}

.jewel.loader.secondary.segment {
  border-top-color: #8CC63C;
}

.jewel.snackbar.secondary .jewel.snackbar-content {
  background: linear-gradient(#98cc50, #7eb435);
  border: 1px solid #638c29;
  box-shadow: inset 0 1px 0 #bbdd8b;
  border-bottom: none;
}
.jewel.snackbar.secondary .jewel.snackbar-message {
  color: #FFFFFF;
}
.jewel.snackbar.secondary .jewel.snackbar-action {
  color: #E2D70B;
}
.jewel.snackbar.secondary .jewel.snackbar-action:hover {
  background: linear-gradient(#8CC63C, #71a02f);
}

a:visited {
  color: #71a02f;
}

a:hover {
  color: #8CC63C;
}

a:active {
  color: #a3d263;
}

.secondary-lightest {
  color: #e9f4da;
}

.secondary-light {
  color: #bbdd8b;
}

.secondary-normal {
  color: #8CC63C;
}

.secondary-dark {
  color: #557923;
}

.secondary-darkest {
  color: #1d2a0c;
}

.jewel.togglebutton.secondary {
  background: linear-gradient(#98cc50, #7eb435);
  border: 1px solid #638c29;
  box-shadow: inset 0 1px 0 #bbdd8b;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(57, 81, 24, 0.7);
}
.jewel.togglebutton.secondary:hover, .jewel.togglebutton.secondary:hover:focus {
  background: linear-gradient(#8CC63C, #71a02f);
  border: 1px solid #557923;
  color: #FFFFFF;
}
.jewel.togglebutton.secondary:active, .jewel.togglebutton.secondary:active:focus {
  background: linear-gradient(#71a02f, #557923);
  border: 1px solid #395118;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  color: #FFFFFF;
}
.jewel.togglebutton.secondary:focus {
  border: 1px solid #638c29;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
}
.jewel.togglebutton.secondary[disabled] {
  background: #f3f3f3 !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.selected {
  background: linear-gradient(#71a02f, #557923);
  border: 1px solid #395118;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  color: #FFFFFF;
}

.jewel.togglebutton.secondary.outlined {
  background: rgba(140, 198, 60, 0.05);
  border: 1px solid #71a02f;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.togglebutton.secondary.outlined:hover, .jewel.togglebutton.secondary.outlined:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid #638c29;
  color: #47651e;
}
.jewel.togglebutton.secondary.outlined:active, .jewel.togglebutton.secondary.outlined:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid #5a8126;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.secondary.outlined:focus {
  border: 1px solid #557923;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.secondary.outlined[disabled] {
  background: rgba(243, 243, 243, 0.1) !important;
  border: 1px solid #d9d9d9 !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.outlined.selected {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid #5a8126;
  box-shadow: none;
  color: #47651e;
}

.jewel.togglebutton.secondary.unboxed {
  background: rgba(140, 198, 60, 0);
  border: 1px solid transparent;
  box-shadow: none;
  color: #638c29;
  text-shadow: none;
}
.jewel.togglebutton.secondary.unboxed:hover, .jewel.togglebutton.secondary.unboxed:hover:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  color: #47651e;
}
.jewel.togglebutton.secondary.unboxed:active, .jewel.togglebutton.secondary.unboxed:active:focus {
  background: rgba(140, 198, 60, 0.25);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.secondary.unboxed:focus {
  background: rgba(140, 198, 60, 0.15);
  border: 1px solid transparent;
  box-shadow: none;
  color: #47651e;
}
.jewel.togglebutton.secondary.unboxed[disabled] {
  background: rgba(243, 243, 243, 0) !important;
  border: 1px solid transparent !important;
  color: silver;
  text-shadow: unset;
}
.jewel.togglebutton.secondary.unboxed[disabled]:hover, .jewel.togglebutton.secondary.unboxed[disabled]:hover:focus {
  color: silver;
}

/*# sourceMappingURL=defaults.css.map */
