
/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

@namespace "library://ns.apache.org/royale/style";
/*** https://tailwindcss.com/docs/preflight */
*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	border: 0 solid;
}
Accordion
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.AccordionSkin");
}
Radio{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.RadioSkin");
}
AccordionSection
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.AccordionSectionSkin");
}
AccordionContent
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.AccordionContentSkin");
}
Button,
TextButton,
IconButton
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ButtonSkin");
}
Badge
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.BadgeSkin");
}
Footer
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.FooterSkin");
}
Hero
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.HeroSkin");
}
HeroContent
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.HeroContentSkin");
}
HeroOverlay
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.HeroOverlaySkin");
}
View
{
	IBeadView: ClassReference("org.apache.royale.html.beads.GroupView");
	IBeadLayout: ClassReference("org.apache.royale.style.beads.FlexLayout");
}
CheckBox
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.CheckBoxSkin");
}
Dropdown
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.DropdownSkin");
}
Tab
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.TabSkin");
}
TabBar
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.TabBarSkin");
}
Card
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.CardSkin");
}
CardBody
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.CardBodySkin");
}
CardTitle
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.CardTitleSkin");
}
CardActions
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.CardActionsSkin");
}
Modal
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ModalSkin");
}
ModalBody
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ModalBodySkin");
}
ModalTitle
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ModalTitleSkin");
}
ModalActions
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ModalActionsSkin");
}
Pagination
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.PaginationSkin");
}
PaginationItem
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.PaginationItemSkin");
}
Toggle
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ToggleSkin");
}
Navbar
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.NavbarSkin");
}
NavbarStart
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.NavbarStartSkin");
}
NavbarCenter
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.NavbarCenterSkin");
}
NavbarEnd
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.NavbarEndSkin");
}
Menu
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.MenuSkin");
}
MenuItem
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.MenuItemSkin");
}
MenuTitle
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.MenuTitleSkin");
}
MenuDetails
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.MenuDetailsSkin");
}
Steps
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.StepsSkin");
}
Step
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.StepSkin");
}

DataItemRenderer
{
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
}

Link
{
    IStyleSkin: ClassReference("org.apache.royale.style.skins.LinkSkin");
}

DataContainer
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.DataProviderModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.DataContainerView");			
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.ListItemRendererInitializer");
	IItemRenderer: ClassReference("org.apache.royale.html.supportClasses.StringItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.Viewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
Divider
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.DividerSkin");
}

TextInput
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.TextInputSkin");
}
MultiSelectionList
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArrayMultiSelectionModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.MultiSelectionListView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListMultiSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.OverridableSelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("org.apache.royale.html.supportClasses.StringItemRenderer");
	ISelectableItemRenderer: ClassReference("org.apache.royale.html.beads.SolidBackgroundSelectableItemRendererBead");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
List
{
	IBeadModel: ClassReference("org.apache.royale.style.beads.ListModel");
	IBeadView:  ClassReference("org.apache.royale.style.beads.ListView");			
	IBeadController: ClassReference("org.apache.royale.style.beads.ListController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("org.apache.royale.style.renderers.ListItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
ListItemRenderer
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ListRendererSkin");
}
BarLoader
{
	IStyleSkin: ClassReference("org.apache.royale.style.skins.BarLoaderSkin");
}
Tree
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.TreeModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.ListView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.TreeSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.VerticalLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForHierarchicalData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.TreeItemRendererInitializer");
	IItemRenderer: ClassReference("org.apache.royale.html.supportClasses.TreeItemRenderer");
	ISelectableItemRenderer: ClassReference("org.apache.royale.html.beads.SolidBackgroundSelectableItemRendererBead");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}

Toast {
	IStyleSkin: ClassReference("org.apache.royale.style.skins.ToastSkin");
}
Tooltip {
	IStyleSkin: ClassReference("org.apache.royale.style.skins.TooltipSkin");
}
RadialProgress {
	IStyleSkin: ClassReference("org.apache.royale.style.skins.RadialProgressSkin");
}