/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@namespace j "library://ns.apache.org/royale/jewel";
@namespace "http://www.w3.org/1999/xhtml";
j|Application {
  background: black;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

span {
  font-size: 1em;
}

div {
  font-size: 14px;
}

.jewel.xsmall {
  font-size: 0.6em !important;
}

.jewel.small {
  font-size: 0.8em !important;
}

.jewel {
  font-size: 1em !important;
}

.jewel.large {
  font-size: 1.2em !important;
}

.jewel.xlarge {
  font-size: 1.4em !important;
}

.jewel.alert {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 240px;
  border: 0px solid;
  background-color: black;
  box-shadow: 0px 20px 65px 0px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.jewel.alert .jewel.titlebar {
  padding: 20px 20px 0px 20px;
  height: 50px;
  color: #d9d9d9;
}
.jewel.alert .jewel.titlebar .jewel.label {
  font-size: 1.9em;
  font-weight: bold;
}
.jewel.alert .content {
  padding: 20px;
  top: 50px;
  bottom: 84px;
}
.jewel.alert .content .jewel.label {
  white-space: normal;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 400;
}
.jewel.alert .jewel.controlbar {
  background: linear-gradient(#666666, #4c4c4c);
  border-top: 1px solid #333333;
  box-shadow: inset 0 1px 0 #8c8c8c;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
}
.jewel.alert + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.jewel.button {
  background: linear-gradient(#666666, #4c4c4c);
  border: 1px solid #333333;
  box-shadow: inset 0 1px 0 #8c8c8c;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(13, 13, 13, 0.7);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.jewel.button:hover, .jewel.button:hover:focus {
  background: linear-gradient(#595959, #404040);
  border: 1px solid #262626;
}
.jewel.button:active, .jewel.button:active:focus {
  background: linear-gradient(#404040, #262626);
  border: 1px solid #0d0d0d;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button:focus {
  border: 1px solid #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 0.5), inset 0 1px 0 rgba(229, 229, 229, 0.6);
}
.jewel.button[disabled] {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
  color: #737373;
}
.jewel.button[disabled] {
  font-weight: 400;
  text-shadow: unset;
}
.jewel.button.icon i {
  margin-left: 0px;
  margin-right: 0px;
}
.jewel.button.iconWithSpace i {
  margin-left: 0px;
  margin-right: 8px;
}

.jewel.button.primary {
  background: linear-gradient(#ee343b, #dc121a);
  border: 1px solid #ad0e15;
  box-shadow: inset 0 1px 0 #f47a7f;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(102, 9, 12, 0.7);
}
.jewel.button.primary:hover, .jewel.button.primary:hover:focus {
  background: linear-gradient(#EC1C24, #c51017);
  border: 1px solid #950d12;
}
.jewel.button.primary:active, .jewel.button.primary:active:focus {
  background: linear-gradient(#c51017, #950d12);
  border: 1px solid #66090c;
  box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.jewel.button.primary:focus {
  border: 1px solid #ad0e15;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.jewel.button.primary[disabled] {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
  color: #737373;
}

.jewel.card {
  font-size: 1em;
  font-weight: 400;
  background: #1a1a1a;
  border: 0px;
  border-radius: 10px;
  padding: 20px;
}

j|Card {
  gap: 3;
}

.jewel.checkbox input + span::before {
  background: linear-gradient(#7f7f7f, #737373);
  border: 1px solid #333333;
  border-radius: 3px;
}
.jewel.checkbox input + span::after {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='22' height='22' fill-opacity='0'/%3E%3Cpolygon fill='%23EC1C24' points='3.50018311 12.4854126 8.48547363 17.4989624 18.4641113 7.47589111 15.5010376 4.51739502 8.48547363 11.5650024 6.52087402 9.47265625'/%3E%3C/svg%3E") no-repeat center center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  transform: scale(0);
}
.jewel.checkbox input:checked + span::after, .jewel.checkbox input:checked:active + span::after {
  transform: scale(1);
}
.jewel.checkbox input:focus + span::before, .jewel.checkbox input:checked:focus + span::before, .jewel.checkbox input:checked:active:focus + span::before {
  background: linear-gradient(#f8a9ac, #f47a7f);
  border: 1px solid #ad0e15;
}
.jewel.checkbox input[disabled] + span::before {
  background: #404040;
  border: 1px solid #0d0d0d;
}
.jewel.checkbox input[disabled] + span {
  color: #737373;
}
.jewel.checkbox input[disabled] + span::after {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='22' height='22' fill-opacity='0'/%3E%3Cpolygon fill='%23191919' points='3.50018311 12.4854126 8.48547363 17.4989624 18.4641113 7.47589111 15.5010376 4.51739502 8.48547363 11.5650024 6.52087402 9.47265625'/%3E%3C/svg%3E") no-repeat center center;
}
.jewel.checkbox span {
  padding-left: 8px;
  font-size: 16px;
}

.jewel.drawer.float {
  color: rgba(0, 0, 0, 0.8);
}
.jewel.drawer.float::before {
  background-color: rgba(0, 0, 0, 0.65);
  will-change: opacity;
  transition: opacity 0.4s 0ms;
}
.jewel.drawer.float .drawermain {
  box-shadow: 0px 0px 6px 1px rgba(1, 1, 1, 0.7);
  transform: translateX(-104%);
  will-change: transform;
  width: calc(100% - 54px);
  max-width: 280px;
  background-color: #8c8c8c;
  transition: transform 250ms 0ms;
}
.jewel.drawer.float.open .drawermain {
  transform: none;
  transition: transform 300ms 0ms;
}
.jewel.drawer.fixed .drawermain {
  width: 240px;
  transform: translateX(-104%);
  will-change: transform;
  transition: transform 250ms 0ms;
  background-color: #8c8c8c;
  border-left: 0;
  border-right: 1px solid #595959;
}
.jewel.drawer.fixed.open {
  width: auto;
}
.jewel.drawer.fixed.open .drawermain {
  transition: transform 300ms 0ms;
}

.jewel.drawerheader {
  background: linear-gradient(#ee343b, #dc121a);
  border-bottom: 1px solid #950d12;
  color: #FFFFFF;
  padding: 16px;
}
.jewel.drawerheader div {
  padding: 16px;
}

.jewel.item {
  padding: 8px;
}
.jewel.item:hover {
  color: #FFFFFF;
  background: #EC1C24;
}
.jewel.item:active, .jewel.item.selected {
  color: #FFFFFF;
  background: #dc121a;
}

.jewel.navigationlink {
  margin: 0;
  padding: 0 16px;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.jewel.navigationlink:hover {
  background: #737373;
}
.jewel.navigationlink:active {
  background: #595959;
}

.jewel.label {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.jewel.list {
  background: linear-gradient(#7f7f7f, #737373);
  border: 1px solid #333333;
  box-shadow: inset 0 1px 0 #8c8c8c;
  border-radius: 3px;
}

.jewel.radiobutton input + span::before {
  background: linear-gradient(#7f7f7f, #737373);
  border: 1px solid #333333;
  border-radius: 50%;
}
.jewel.radiobutton input + span::after {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='22' height='22' fill-opacity='0'/%3E%3Ccircle fill='%23EC1C24' cx='11' cy='11' r='6'/%3E%3C/svg%3E") no-repeat center center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  transform: scale(0);
}
.jewel.radiobutton input:checked + span::after, .jewel.radiobutton input:checked:active + span::after {
  transform: scale(1);
}
.jewel.radiobutton input:focus + span::before, .jewel.radiobutton input:checked:focus + span::before, .jewel.radiobutton input:checked:active:focus + span::before {
  background: linear-gradient(#f8a9ac, #f47a7f);
  border: 1px solid #ad0e15;
}
.jewel.radiobutton input[disabled] + span::before {
  background: #404040;
  border: 1px solid #0d0d0d;
}
.jewel.radiobutton input[disabled] + span {
  color: #737373;
}
.jewel.radiobutton input[disabled] + span::after {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='22' height='22' fill-opacity='0'/%3E%3Ccircle fill='%23191919' cx='11' cy='11' r='6'/%3E%3C/svg%3E") no-repeat center center;
}
.jewel.radiobutton span {
  padding-left: 8px;
  font-size: 16px;
}

.jewel.slider input {
  color: #EC1C24;
}
.jewel.slider input::-ms-fill-lower {
  background: linear-gradient(#ed2a32, #e5131b);
  border: 1px solid #ad0e15;
  box-shadow: inset 0 1px 0 #f47a7f;
  border-radius: 3px;
}
.jewel.slider input::-ms-fill-upper {
  background: linear-gradient(#7f7f7f, #666666);
  border: 1px solid #333333;
  border-radius: 3px;
}
.jewel.slider input::-webkit-slider-thumb, .jewel.slider input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: linear-gradient(#ed2a32, #e5131b);
  border: 1px solid #ad0e15;
  box-shadow: inset 0 1px 0 #f47a7f, 0 0 0 1px rgba(140, 140, 140, 0.3);
  border-radius: 50%;
}
.jewel.slider input::-ms-thumb {
  width: 18px;
  height: 18px;
  background: linear-gradient(#ed2a32, #e5131b);
  border: 1px solid #ad0e15;
  box-shadow: inset 0 1px 0 #f47a7f, 0 0 0 1px rgba(140, 140, 140, 0.3);
  border-radius: 50%;
}
.jewel.slider input:active::-webkit-slider-thumb, .jewel.slider input:active::-moz-range-thumb {
  transform: scale(1.4);
}
.jewel.slider input:active::-ms-thumb {
  transform: scale(0.8);
}
.jewel.slider input[disabled]::-ms-fill-lower {
  background: #333333;
  border: 1px solid black;
  box-shadow: none;
}
.jewel.slider input[disabled]::-ms-fill-upper {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
}
.jewel.slider input[disabled]::-webkit-slider-thumb, .jewel.slider input[disabled]::-moz-range-thumb, .jewel.slider input[disabled]::-ms-thumb {
  background: #404040;
  border: 1px solid black;
  box-shadow: none;
}
.jewel.slider input[disabled]:active::-webkit-slider-thumb, .jewel.slider input[disabled]:active::-moz-range-thumb, .jewel.slider input[disabled]:active::-ms-thumb {
  transform: scale(1);
}
.jewel.slider input[disabled] + .slider-track-container > .slider-track-fill {
  background: #333333;
  border: 1px solid black;
  box-shadow: none;
}
.jewel.slider input[disabled] + .slider-track-container > .slider-track {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
}

.slider-track-container {
  top: 50%;
}

.slider-track-fill {
  background: linear-gradient(#ed2a32, #e5131b);
  border: 1px solid #ad0e15;
  box-shadow: inset 0 1px 0 #f47a7f;
  border-radius: 3px;
}

.slider-track {
  background: linear-gradient(#7f7f7f, #666666);
  border: 1px solid #333333;
  border-radius: 3px;
}

.jewel.textinput {
  font-weight: 400;
  color: #FFFFFF;
}
.jewel.textinput input {
  font-family: "Lato", sans-serif;
}
.jewel.textinput > input {
  background: linear-gradient(#7f7f7f, #737373);
  border: 1px solid #333333;
  border-radius: 0.25rem;
  transition-duration: 0.3s;
  transition-timing-function: easein;
}
.jewel.textinput > input:focus {
  border: 1px solid #ad0e15;
}
.jewel.textinput > input::placeholder, .jewel.textinput > input:-ms-input-placeholder {
  color: white;
}
.jewel.textinput > input[disabled] {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
  color: #737373;
}
.jewel.textinput > input[disabled]::placeholder, .jewel.textinput > input[disabled]:-ms-input-placeholder {
  color: #737373;
}
.jewel.textinput > input[disabled] + i {
  color: #737373;
}

.jewel.textarea {
  font-weight: 400;
  color: #FFFFFF;
}
.jewel.textarea > textarea {
  font-family: "Lato", sans-serif;
}
.jewel.textarea > textarea {
  background: linear-gradient(#7f7f7f, #737373);
  border: 1px solid #333333;
  border-radius: 0.25rem;
  transition-duration: 0.3s;
  transition-timing-function: easein;
}
.jewel.textarea > textarea:focus {
  border: 1px solid #ad0e15;
}
.jewel.textarea > textarea::placeholder, .jewel.textarea > textarea:-ms-input-placeholder {
  color: white;
}
.jewel.textarea > textarea[disabled] {
  background: #404040;
  border: 1px solid #0d0d0d;
  box-shadow: none;
  color: #737373;
}
.jewel.textarea > textarea[disabled]::placeholder, .jewel.textarea > textarea[disabled]:-ms-input-placeholder {
  color: #737373;
}

.jewel.topappbar .topBarAppHeader {
  background: linear-gradient(#ee343b, #dc121a);
  border-top: 1px solid #f26368;
  border-bottom: 1px solid #950d12;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(102, 9, 12, 0.7);
}
.jewel.topappbar .topBarAppHeader.has-drawer {
  width: calc(100% - 240px);
}

.jewel.topappbarsection {
  padding: 8px 12px;
}
.jewel.topappbarsection button {
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 12px;
  fill: #FFFFFF;
  color: inherit;
  text-shadow: 0 -1px 0 rgba(102, 9, 12, 0.7);
}
.jewel.topappbarsection button:hover, .jewel.topappbarsection button:hover:focus, .jewel.topappbarsection button:active, .jewel.topappbarsection button:active:focus, .jewel.topappbarsection button:focus {
  background: transparent;
  box-shadow: none;
  border: none;
}
.jewel.topappbarsection button[disabled] {
  background: transparent;
  box-shadow: none;
  border: none;
}

.jewel.topappbartitle {
  font-family: "Lato", sans-serif;
  font-size: 1.4em !important;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 0;
}

/*# sourceMappingURL=defaults.css.map */
